.load-more{
    height: 85px;
    line-height: 85px;
    text-align: center;
    background-color: #F0F2F4;
    img{
        width: 30px;
        height: 30px;
        margin-right: 10px;
        vertical-align: middle;
    }
    span{
        font-size: 28px;
        color: #727C8F;
        vertical-align: middle;
    }
}