@import "../../styles/variables";

.color-block {
    float: left;
    margin: 0 4px;
    padding: 2px;
    // margin: 0 1px;
    // padding: 1px;
    border: 1px solid transparent;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &.active {
        border-color: #b4bfc5;
    }

    span {
        display: block;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
}

.cornflower-blue {
    background-color: @cornflower-blue-color;
}

.ocean-green {
    background-color: @ocean-green-color;
}

.fire-bush {
    background-color: @fire-bush-color;
}

.olive-drab {
    background-color: @olive-drab-color;
}

.amethyst {
    background-color: @amethyst-color;
}

.havelock-blue {
    background-color: @havelock-blue-color;
}

.carnation {
    background-color: @carnation-color;
}

.ship-cove {
    background-color: @ship-cove;
}

.color-white {
    background-color: white;
}

.color-black {
    background-color: black;
}
