* {
    margin: 0;
    padding: 0;
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html,
body {
    .size(100%, 100%);
    font-family: Arial;
}

.clearfix() {
    zoom: 1;
    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
    }
}

.size(@width: auto;
@height: auto) {
    width: @width;
    height: @height;
}

a {
    &,
    &:hover,
    &:active {
        text-decoration: none;
    }
}

.box {
    .size(100%, 100%);
    background: #d0d0d0;
}

.progress-box {
    position: relative;
    perspective: 1000px;
}

.progress-item {
    .size(360px, 100px);
    transform-origin: 50% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.face {
    .size(100px, 100px);
    position: absolute;
}

.top {
    .size(200px, 100px);
    left: 200px;
    top: 100px;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    background: rgba(208, 203, 203, 0.3);
}

.bottom {
    .size(200px, 100px);
    left: 200px;
    top: 300px;
    transform: rotateX(90deg);
    transform-origin: top;
    box-shadow: 0 0.1em 0.6em rgba(0, 0, 0, 0.3), 0.6em -0.5em 3em rgba(0, 0, 0, 0.3), 1em -1em 8em #fefefe;
}

.left {
    left: 100px;
    top: 200px;
    transform: rotateY(90deg);
    transform-origin: right;
    background: rgba(254, 254, 254, 0.6);
    z-index: 2;
}

.right {
    left: 401px;
    top: 200px;
    transform: rotateY(-90deg);
    transform-origin: left;
    background: rgba(254, 254, 254, 0.3);
    z-index: 3;
}

.front {
    .size(200px, 100px);
    left: 200px;
    top: 200px;
    transform: translateZ(100px);
    background: rgba(254, 254, 254, 0.3);
    z-index: 4;
}

.back {
    .size(200px, 100px);
    left: 200px;
    top: 200px;
    transform: translateZ(0);
    background: rgba(254, 254, 254, 0.3)
}
