.editabelList-content{
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dashed #edf2fa;
  .add-line {
  }
  &>.title{
    font-size: 14px;
  }
  .ant-form-inline{
    padding-left: 10px;
    background-color: #fafbfd;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    //margin-bottom: 15px;
    .ant-form-item {
      margin-top: 0;
    }
      .add-input{
        float: left;
        width: 145px;
      }
      .add-link{
        float: right;
        margin-right: 40px;
        font-size: 14px;
        color: #2580e6;
      }
  }
  .list-content{
    //max-height: 300px;
    overflow: auto;
    //margin-top: 20px;
  }

.editabelList-wrapper {
  //margin-left: 10px;
  width: 403px;
  &:hover {
    background-color: #edf2fa;
    .editabel-btn-wrapper{
      display: block;
    }
  }
  .editabel-btn-wrapper {
    float: right;
    margin-right: 30px;

  }
  .input-wrapper {
    display: inline-block;
    // width: 50%;
    // max-width: 200px;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    .ant-row{
      margin-top: 4px;
      input{
        width: 145px;
        float: left;
      }
    }
    p{
      margin-left: 10px;
    }
    label {
      display: inline-block;
      font-weight:normal;
      padding-right: 20px;
    }
  }
  .editabel-btn-wrapper {
    display: none;
    li {
      height: 40px;
      line-height: 40px;
      display: inline-block;
      padding: 0px 5px;
      cursor: pointer;
      .ant-btn{
        padding: 3px 8px;
      }
      &:hover {
        color:  #108ee9;
      }
    }
  }
}

}
