@import "../../../../../../comm/antd/lib/style/themes/default.less";
@import "../../../../../../../node_modules/antd/lib/style/mixins/clearfix.less";

.ec_category_tab {
    .clearfix();
    a {
        display: block;
        width: 20%;
        float: left;
        line-height: 40px;
        height: 40px;
        text-align: center;
        color: #727c8f;
        font-size: 14px;
        background: #fafbfd;
        border-right: 1px solid #e0e8f6;
        border-bottom: 1px solid #e0e8f6;
        cursor: pointer;
        transition: all .3s;
        &:last-child {
            border-right: transparent;
        }
        &:hover {
            background: #f3f6fb;
        }
        &:active {
            background: #edf2fa;
        }
        &.active {
            background: #fff;
            font-weight: bold;
            color: @primary-color;
            border-bottom: transparent;
        }
    }

}
