@css-prefix: ec-;
@white: #fff;
@baseFontSize: 12px;
@baseLineHeight: 1.5;
@baseFontFamily: "Microsoft Yahei";
@textColor: #4c4c4c;
@bodyBgColor: #fff;

@redBg: #ff5946;

@blueText: #2580e6;
@defaultBg: #2580e6;

// @shadowColor: #f0f2f3;
@shadowColor: rgba(48,50,50,0.2);
@hoverList: #d9e5f3;

@theme-one-color: #2580e6;
@theme-two-color: #707a84;
@theme-three-color: #009dea;
@theme-four-color: #5c534c;
@theme-five-color: #f03c19;

@black: #000;
@theme-one-name-color: #2d2b31;
@black34: #343434;

@default: #2580e6;
@cyan-blue: #7889b7;
@dark-green: #46b274;
@orange: #e59e22;
@jade-green: #72ad2e;
@serviceAColor: #4c4c4c;
