@css-prefix: ec-;
@white: #fff;
@baseFontSize: 12px;
@baseLineHeight: 1.5;
@baseFontFamily: "Microsoft Yahei";
@textColor: #3a3a3a;
@bodyBgColor: #fff;

@sessionText: #0d0d0d;
@grayBg: #f7f7f7;
@grayText: #a2a2a2;
@grayBorder: #d9dfea;
@grayBorderLight: #ebebeb;
@blueText: #2580e6;

@btnBlue: #2580e6;
@inputBorder: #d4deee;
@inputBorderHover: #96a0b4;
@inputBorderFocus: #2580e6;
@inputBorderError: #f2534f;

@tipYellow: #fffde5;

@blueTextBg: #9fdef5;

@red: #f84430;
@shadowColor: #c8c9ca;

@theme-one-color: #2580e6;
