.help-related {
    .help-list {
        border-top: 1px dashed #ebebeb;

        .title,
        .no-help {
            padding-bottom: 10px;
            font-size: 14px;
            color: #999;
            font-weight: bold;
        }
        >li {
            border: 0;

            a {
                line-height: 30px;
                color: #1fb1fc;
            }
        }
    }
}