.tips{
    position: relative;
    height: 40px;
    margin: 0 8px 10px 8px;
    background-color: #fafbfd;
    border-top: 1px solid #e0e8f6;
    border-bottom: 1px solid #e0e8f6;
    // i{
    //     position: absolute;
    //     display: inline-block;
    //     width: 15px;
    //     height: 15px;
    //     top: 7px;
    //     left: 20px;
    //     background: url(//www.staticec.com/my/images/employee-icon.png) no-repeat -62px -44px;
    // }
    p{
        position: absolute;
        left: 0;
        top: 0px;
        right: 0px;
        height: 100%;
        width: auto;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;
        color: #303642;
        text-overflow: ellipsis;
        white-space : nowrap; 
        overflow : hidden;        
        span{
            font-weight: normal;
        }
    }
}