.sidebar{
    width:130px;
    height:100%;
    float: left;
    border-right:1px solid #edf2fa;
    .btn-content{
        width:100%;
        padding:20px 25px;
    }
    .my-form{
        margin-top:5px;
        width:100%;
        .title{
            height: 40px;
            line-height:40px;
            .icon{
                color: #96a0b4;
                margin-left:20px;
            }
            span{
                color: #888;
                margin-left:10px;
            }
        }
        .link-url{

        }
    }
    .icon-panel{
        width:100%;
        li{
            &:hover{
                cursor: pointer;
            }
            height:40px;
            line-height:40px;
            &:hover{
                background-color: #ebf0f6;
            }
            &.active{
                background-color: #d4deee;
            }
            a{

                .icon{
                    color: #96a0b4;
                    margin-left:20px;
                }
                span{
                    color: #303642;
                    font-size:14px;
                    margin-left:10px;
                }
            }


        }
    }
    .no-icon-panel{
        width:100%;
        li{
            &:hover{
                cursor: pointer;
            }
            height:40px;
            line-height:40px;
            &:hover{
                background-color: #ebf0f6;
            }
            &.active{
                background-color: #d4deee;
            }
            span{
                color: #303642;
                font-size: 14px;
                margin-left:45px;
            }
        }
    }
}
