.sale-stage{
    background-color: #F0F2F4;
    min-height: 100vh;
    // overflow: auto;
    // -webkit-overflow-scrolling: touch;
    .content{
        padding: 30px;
        .header{
            font-size: 24px;
            color: #81878E;
        }
        .stage-card{
                // &:active{
                //     // background-color: #E5E6E7;
                //     border: 1px solid #E5E6E7;
                // }
                background-color: #fff;
                padding-left: 30px;
                padding-right: 30px;
                margin-top: 30px;
                .code{
                    border-bottom: 1px solid #D5DBE1;
                    height: 105px;
                    line-height: 105px;
                    .t{
                        display: inline-block;
                        width: 120px;
                        font-size: 32px;
                        color: #81878E;
                    }
                    .v{
                        font-size: 32px;
                        color: #303642;
                    }
                    .iconfont{
                        float: right;
                        color: #D5DBE1;
                        font-size: 25px;
                    }
                }
                p{
                    height: 80px;
                    display: flex;
                    align-items: center;
                    .t{
                        display: inline-block;
                        width: 120px;
                        font-size: 26px;
                        color: #81878E;
                    }
                    .v{
                        font-size: 26px;
                        color: #303642;
                    }
                }
        }
        .no-data-content{
            background-color: #ffffff;
            padding-top: 100px;
            padding-bottom: 100px;
            text-align: center;
            margin-top: 30px;
            img{
                width: 110px;
                height: 140px;
            }
            p{
                font-size: 26px;
                color: #81878E;
                margin: 20px 0 0 0;
            }
        }
            
    }
    .more-tag{
        height: 60px;
        text-align: center;
        font-size: 26px;
        color: #727C8F;
        background-color: #F0F2F4;
    }
    
}