#root, body, html{
    height: 100%;
    font-family: 'Microsoft YaHei';
}
.loading-content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message{
    height: 100%;
}
.ant-time-picker-input{
    width: inherit;
}
