.msg-list ol .custom-msg {
    color: #999;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 10px;

    .tip-time {
        padding-left: 15px;
        padding-right: 15px;
    }

    .tip-text {
        padding-left: 15px;
    }
}

.msg-list {
    .none-msg {
        position: absolute;
        top: 30%;
        left: 50%;
        margin-left: -35px;
        margin-top: -48px;
        text-align: center;
        color: #ccc;
        // font-size: 12px;

        .img-none {
            display: block;
            width: 100%;
            height: 47px;
            background: url(../../../../images/none.png) center center no-repeat;
            background-size: contain;
            margin-bottom: 10px;
        }
    }

    .msg-content {
        img {
            max-width: 100%;
        }
    }
}

.history-tip {
    .loading {
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url('../../../../images/loading.gif') center no-repeat;
    }
    .clock-circle-css {
        color: #d0e0e6;
        font-size: small;
        margin-right: 5px;
    }
}
