.pc-invite-setting {
    .position-preview {
        width: 90px;
        height: 134px;
        float: left;
    }

    .set-side {
        float: left;
        margin-left: 7px;
    }

    .inline-block {
        display: inline-block;
    }

    .disabled-block {
        color: #b3b3b3;
    }

    .invite-tips {
        color: #b3b3b3;
    }
}
