.sidebar{
    width:130px;
    height:100%;
    float: left;
    border-right:1px solid #DADDE3;
    padding-top: 20px;
    .icon-panel{
        width:100%;
        li{
            cursor: pointer;
            &.active{
                background: #D5DFEF;
                &:hover{
                    background: #D5DFEF;
                }
            }
            &:hover{
                background-color: #F5F6F9;
            }
            a{
                display: block;
                height:40px;
                text-align: center;
                line-height:40px;
                span{
                    color: #303642;
                    font-size:14px;
                }
            }


        }
    }
}
.my-public{
    position: absolute;
    left: 20px;
    bottom: 20px;
    text-align: center;

    button{
        width: 90px;
        height: 25px;
        text-align: center;
        padding: 0;
        background: #FFFFFF;
        border: 1px solid #B4BCCB;
        border-radius: 3px;
    }
}
