.ecTeam-box {
  max-width: 480px;
  margin: 0 auto 15px auto;
  padding: 20px 20px 0 20px;
  box-shadow: 0px 0px 5px #dedede;
  position:relative;
  cursor: pointer;
  color: #808080;
  a.normalBox{
    color:inherit;
  }
  .more-btn {
    text-align: center;
    color: #3aa8f0;
    padding: 7px 0;
  }
  .share-time{
    position: absolute;
    width: 100%;
    left: 0;
    top: -25px;
    text-align:center;
  }
  .msg-box {
    .sm-tips {
      color: #999;
      margin:8px 0;
      font-size: 12px;
      color: #bfbdbd;
    }
    border-radius: 4px;
    .header {
      font-size: 18px;
      color: #0f0f0f;
    }
    .time {
      text-align: center;
      margin-bottom:7px;
      color:#999;
    }
    .share-head{
      font-size:12px;
      color: #808080;
    }
    .inner-box {
      font-size:14px;
      .article-box{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow:hidden;
        word-break:break-all;
        font-size:12px;
      }
      .time {
        text-align: left;
        margin:3px 0;
        color:#999;
        a{
          margin:0 5px 0 0;
        }
        a.noTalk{
          cursor: text;
        }
        span {
          color: #3aa8f0;
          margin-right: 10px;
        }
      }
      a{
        margin:0 3px;
      }
      a.colleague{
        margin:0 3px 0 0;
      }
      .font-red{
        font-weight:bold;
        color:#d20000;
        margin:0 3px;
      }
      .list{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin:7px 0 1px 0;
        span{
          color:#3aa8f0;
          margin-right:5px;
        }
        a{
          display:inline-block;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
        }
      }

    }
    .img-show {
      height:180px;
      overflow:hidden;
      text-align: center;
      margin: 6px 0;
      display: flex;
      align-items: center;
      img {
        max-width: 100%;
        width: 100%;
      }
    }
    .bot-line{
      border-top:1px #eee solid;
    }
    .share-box{
      padding:3px 0;
      .bold{
        font-weight:bold;
        color:#262626;
        margin-right:5px;
        &:hover{
          color:#3aa8f0;
        }
      }
    }
    .top-p{
      padding-top:10px;
    }
    .request-box{
      padding-bottom:10px;
    }
    .btn-bot {
      font-size:12px;
      line-height: 40px;
      .header {
        color: #666;
        margin-bottom: 5px;
      }
      .inner-box {
        padding: 3px 6px;
      }
      a {
        margin-right: 14px;
        color: #3aa8f0;
      }
      .bot-more{
        color:#0f0f0f;
        display:inline-block;
        cursor:pointer;
      }
      .bot-more:before {
        content: '';
        position: absolute;
        background: url("icon-right.png") 0 0 no-repeat;
        right: 20px;
        width: 8px;
        height: 13px;
        bottom: 13px;
      }
      // .bot-more:hover{
      //   color:#3aa8f0;
      // }
      .bot-state{
        color:#9b9b9b;
      }
    }
    .article-bot{
      border-top:1px #eee solid;
      margin-top:12px;
      a{
        color:#0f0f0f;
        &:hover{
          color:#3aa8f0;
        }
      }
    }
  }
}
.ecTeam-box-sno{
  box-shadow:none;
  padding:0;
  margin:0 auto;
}

.loading{
  text-align:center;
  padding:30px 0;
}
.no-more{
  text-align:center;
  padding:30px 0;
}
.no-content{
  text-align:center;
  padding:30px 0;
}

.msg-box-inner {
  box-shadow: 0px 0px 5px #bbb;
  padding: 20px 20px 0 20px;
  color: #000;
  margin-bottom: 25px;
  .msg-class {
    color: #999;
  }
  h3 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Microsoft Yahei', '΢���ź�';
    line-height: 40px;
    padding-bottom: 4px;
    color: #0f0f0f;
  }
  .btn-bot {
    a {
      margin: 0;
    }
  }
  .article-box {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow:hidden;
    word-break:break-all;
    color:#808080;
    line-height: 20px;
  }
}
.share-box-ou{
  margin:34px auto 50px auto;
}
.error-tips-box{
  margin-top:80px;
  padding-top:135px;
  text-align:center;
  font-size:18px;
  background:url("//www.staticec.com/my/ecapp/images/error-tips.png") center top no-repeat;
}
.refresh-btn{
  text-align:center;
  margin-top:15px;
}
.article-link{
  color:#666;
  &:hover{
    color:#666;
  }
  &:active{
    color:#666;
  }
}
.no-hand{
  cursor:text;
  color: #808080;
}
.h5-box{
  position:relative;
  margin:34px auto 50px auto;
  .top-time{
    position:absolute;
    width:100%;
    text-align:center;
    top:-25px;
    left:0;
  }
  .msg-box .inner-box a.normalBox{
    margin:0;
  }
  .msg-box .inner-box .time{
    margin:3px 0 6px 0;
  }
}