.quick-reply-detail {
    margin-left: 220px;
    height: 100%;

    .ant-table table {
        text-align: left;
    }

    .replies-table {
        td {
            max-width: 0;
        }

        .reply-content {
            width: 70%;
            word-break:keep-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        // .reply-operates-td {
        //     width: 30%;
        // }
    }


    .operates {
        text-align: center;
        font-size: 14px;
        color: #2580e6;
        position: relative;
        top: 4px;

        i, span {
            cursor: pointer;
            margin: 0 5px;
            font-size: 16px;
        }
    }
}

.edit-reply {
    // border: 1px solid #d4deee;

    // &.active {
    //     border-color: #2580e6;
    // }

    .tools {
        background-color: #f7f8fa;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        font-size: 17px;

        i {
            cursor: pointer;
        }
    }
}
