.pc-access-code {

    // .code-content {
    //     font-weight: 600;
    // }

    .prompt {
        margin-top: 12px;

        ul {
            li {
                color: #555;
                margin: 7px 0;
            }
        }
    }
}
