.set-goal{

}
.set-goal-modal{
    .ant-modal{
        width:760px !important;
        height:350px !important;
    }
    .ant-modal-title{
        font-weight: bold;
    }
    .ant-modal-body{
        .row-1{
            .icon{
                font-size: 12px;
                color: #F2534F;
                letter-spacing: 0;
                line-height: 24px;
                margin-right:5px;
            }
            .title{
                font-size: 12px;
            }
            .warn{
                color: #F2534F;
                margin-left:10px;
            }
        }
        .row-2{
            background: #F5F6F9;
            height:37px;
            line-height:37px;
            padding-left:10px;
            padding-right:10px;
            margin-top:20px;
            margin-bottom: 15px;
            .icon{
                color: #FF930D;
            }
            .ant-select{
                margin-left:10px;
                margin-right:10px;
                height:25px;
            }
            .num{
                font-size: 12px;
                color: #303642;
                letter-spacing: 0;
                font-weight:bold;
            }
            .unit{
                font-size: 12px;
                color: #303642;
                letter-spacing: 0;
                float: right;
            }

        }
        .row-3{
            .q{
                width:172px;
                border: 1px solid #DADDE3;
                margin-right:13px;
                display: inline-block;
                &:last-child{
                    margin-right:0;
                }
                .title{
                    background: #F5F6F9;
                    border-bottom: 1px solid #DADDE3;
                    height:30px;
                    line-height:30px;
                    font-size: 12px;
                    color: #303642;
                    letter-spacing: 0;
                    padding-left:10px;
                }
                .month-wrapper{
                    padding-top:5px;
                    padding-bottom:5px;
                    li{
                        height:36px;
                        line-height: 36px;
                        .t{
                            display: inline-block;
                            width: 68px;
                            font-size:12px;
                            color: #303642;
                            letter-spacing: 0;
                            line-height: 24px;
                            text-align: center;
                        }
                        .input{
                            width:92px;
                            height:25px;
                        }
                    }
                }
            }
        }
    }
    .ant-modal-footer{
        height: 46px;
        line-height: 46px;
        .ant-btn{
            padding:4px 15px;
            height: auto;
        }
    }
}
