@import "../../../../../../comm/antd/lib/style/themes/default.less";

.header {
	.clearfix();
	margin-bottom: 50px;
    h2 {
    	color: @input-color;
    	font-size: 18px;
    	float: left;
    	.iconfont {
    		margin-left: 5px;
    		color: #6fa5ff;
    		font-size: 15px;
    	}
    }
    span {
    	float: right;
    	color: @input-placeholder-color;
    	i {
    		display: inline-block;
    		margin-right: 8px;
    		&:last-child(1) {
    			margin-right: 0;
    		}
    	}
    }
}
.statistics-items {
	width: 86%;
	margin: 0 auto;
	margin-bottom: 50px;
	li {
		display: inline-block;
		width: 24%;
		text-align: center;
		position: relative;
		&:after {
			content: "";
      display: block;
      position: absolute;
      top: 15px;
      width: 0;
      height: 30px;
      border-right: 1px solid #e0e8f6 ;
      right: 0;
		}
		&:last-child{
			&:after {
				border-right: transparent;
			}
		}
		p{
			color: @input-color;
			font-size: 14px;
			margin-bottom: 14px;
		}
		span {
			color: @input-color;
			font-size: 24px;
			font-weight: bold;
		}
	}
}
.statistics-table {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #e0e8f6;
    ul {
    	.clearfix();
        li {
            width: 20%;
            float: left;
            line-height: 40px;
   					height: 40px;
            text-align: center;
            color: #727c8f;
            font-size: 14px;
            background: #fafbfd;
            border-right: 1px solid #e0e8f6;
            border-bottom: 1px solid #e0e8f6;
            cursor: pointer;
            transition: all .3s;
            &:last-child {
            	border-right: transparent;
            }
            &.active {
            	background: #fff;
            	font-weight: bold;
		        	color: @primary-color;
		        	border-bottom: transparent;
		        }
        }

    }
}
.statistics-highcharts {
    height: auto;
    margin: 18px 10px;
}
