.mobile-start-register {
    .content {
        font-size: 30px;
        color: #81878E;
        line-height: 46px;

        a {
            color: @brand-primary;
        }
    }

    .start {
        padding: 0 22px;
        margin-top: 112px;
    }

    .to-login {
        position: absolute;
        left: 75px;
        bottom: 70px;
        font-size: 26px;
        color: #81878E;
    }
}
