.biz-footer {
	background: #edf2fa;
	text-align: center;
	color: #96a0b4;
	padding: 11px 0;
}

.biz-footer-fixed {
	position: fixed;
	bottom: 0;
	left: 200px;
	right: 0;
	bottom: 0;
}

@media screen and (max-width: 1024px) {
    .biz-footer-fixed {
        left: 70px;
    }
}
