.apply-table-operation {
    margin-bottom: 20px;

    > .group {
        display: inline-block;
        margin-right: 12px;
    }

    input {
        height: 30px;
        line-height: 1.5;
        width: 200px;
    }

    button {
        margin: 0 7px;
    }
}
