.clearfix() {
    zoom: 1;
    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
    }
}

.size(@width: auto;
@height: auto) {
    width: @width;
    height: @height;
}
