@import "../../../../../../comm/antd/lib/style/themes/default.less";
.ant-calendar-today .ant-calendar-date {
    border:none !important;
    font-weight: normal !important;
    color: #666;
}
.ant-calendar-last-month-cell .ant-calendar-date, .ant-calendar-next-month-btn-day .ant-calendar-date {
    color: #ccc;
}
.channel{
    padding-bottom: 50px;
    .ant-table-body{
        table{
            text-align: center;
            border-collapse:collapse;
            border:1px solid #e0e8f6;
            border-radius: 0;
            th{
                text-align: center;
                border:1px solid #e0e8f6;
                background-color: #fafbfd;
                padding:10px 8px;
                border-radius: 0;
            }
            td{
                padding:10px 8px;
                border-radius: 0;
            }
            tbody{
                tr:nth-child(odd){
                     background-color: #ffffff;
                }
                tr:nth-child(even){
                     background-color: #fafbfd;
                }
            }

        }
    }
    .ant-table-placeholder{
        border-left: 1px solid #e9e9e9;
        border-right: 1px solid #e9e9e9;
    }
    .title{
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 20px;
    }
    .time_tip{
        color:#999;
        display: inline-block;
        float: right;
        margin-bottom: 20px;
    }
    .split_line{
        border-top: 1px solid #e0e8f6;
        margin: 20px auto;
    }
    .chart-exp{
        margin:10px 0 20px;
        text-align: center;
        height:15px;
        line-height: 15px;
        .box{
            display: inline-block;
            margin-right:10px;
            .color-box{
                display: inline-block;
                width:12px;
                height:12px;
                border-radius: 2px;
                margin-right:5px;
                margin-bottom:-1px;
            }
            .bg-blue{
                background-color: #3a78c2;
            }
            .bg-green{
                background-color: #88ab3e;
            }
            .text-blue{
                color: #3a78c2;
            }
            .text-green{
                color: #88ab3e;
            }
        }

    }
    .ec_header {
    .clearfix();
    position: relative;
    .time{
        height: 30px;
        width: 100%;
        font-size: 12px;
        color: #303642;
        line-height: 30px;
        .ec_time_desc{
            p{
                float: left;
            }
            span{
                float: left;
                height: 100%;
                width: auto;
                color: #303642;
                font-size: 12px;
                margin-left: 18px;
                cursor: pointer;
            }
            .line{
                float: left;
                height: 20px;
                width: 1px;
                background-color: #e0e8f6;
                margin-top: 5px;
                margin-left: 26px;
                margin-right: 20px;
            }
            .on{
                color: #2580e6;
            }
        }
    }

    }
}

