.ec-select-year{
    display: inline-block;
    .year-btn{
        font-size:18px;
        color: #2081ea;
        margin:0 6px;
        cursor: pointer;
        position: relative;
        top:2px;
    }
    .btn-forb{
        color: #d6dfee;
        cursor:default;
    }
}