*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    position: relative;
}
.error-container{
    position: absolute;
    width: 452px;
    height: 100px;
    z-index: 10000;
    line-height: 100px;
    color: #fff;
    top: 50%;
    left: 50%;
    margin-left: -226px;
    margin-top: -50px;
    .mobile-error{
        border-radius: 8px;
        background: rgba(0, 0, 0, .7);
        text-align: center;
    }
}
