.help-list {
    font-size: 14px;
    color: #666;

    .title {
        font-size: 18px;
        color: #333;
        padding: 20px 0;
    }

    .no-help {
        .title;
        color: #666;
    }

    > li {
        border-bottom: 1px dashed #ebebeb;

        a {
            line-height: 43px;
            display: inline-block;
            font-size: 14px;
            padding-right: 10px;
        }
    } 
}