* {
    margin: 0;
    padding: 0;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html,
body {
    .size(100%, 100%);
    font-family: Arial;
}

.clearfix() {
    zoom: 1;
    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
    }
}

ul,
li {
    list-style-type: none;
}

.size(@width: auto;
@height: auto) {
    width: @width;
    height: @height;
}

.box {
    .size(100%, 100%);
    background: #fff;
}

ul {
    text-align: center;
    padding-top: 20px;
    li {
        display: inline-block;
        position: relative;
        .size(80px, 75px);
        border: 1px solid #bababa;
        border-radius: 12px;
        text-align: center;
        margin-bottom: 10px;
        margin-right: 30px;
        span {
            display: inline-block;
            .size(100%, 50%);
            line-height: 38.5px;
        }
        .num {
            font-size: 22px;
            color: #444444;
            border-bottom: 1px solid #7eafc0;
        }
        .text {
            color: #fff;
            background: #7fcae3;
            box-shadow: 0px 3px 0px #468aa0;
            border-radius: 0 0 4px 4px;
        }
        &:after {
            position: absolute;
            content: '';
            left: 28px;
            top: 50%;
            .size(0, 0);
            border: 10px solid #fff;
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
        }
        &.like {
            .text {
                background: #5b78b4;
                box-shadow: 0 3px 0 #284178;
            }
        }
        &.add {
            .text {
                background: #5d5d5d;
                box-shadow: 0 3px 0 #3d3d3d;
            }
        }
    }
}
