.statistics-employee {
    .cs-info {
        text-align: left;

        .avatar {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 7px;

            &.offline {
                filter: grayscale(90%);
            }
        }
    }

    .highlight {
        color: #2580e6;
    }
}
