@import "../../../../../../../comm/ec-antd/lib/style/themes/default.less";
.top-tip {
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
  margin-left: 100px;
    p {
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #fbdd7a;
        border-radius: @border-radius-base;
        font-size: 14px;
        color: #79450a;
        background: #fffbe3;
        display: inline-block;
    }
    .close-btn:hover {
        cursor: pointer;
    }
    .iconfont {
        color: #996707;
    }
}
