.history-table-operations {
    margin-bottom: 12px;

    .range-date-picker {
        display: inline-block;
        margin-top: 0;
        margin-right: 9px;
        vertical-align: top;
        width: 0;

        &.show {
            width: 308px;
        }
    }

    .ant-select {
        width: 100px;
        margin-right: 9px;

        // .ant-select-selection {
        //     border-radius: 0;
        //     border-color: #d4deee;
        // }

        //&:nth-child(2) {
        //    margin: 0 9px;
        //}
    }

    .export {
        float: right;
    }
}

// .ant-select-dropdown-style-custom {
//     border: 1px solid #2580e6;
// }
