.new-label-footer {
	background: #edf2fa;
	text-align: center;
	color: #96a0b4;
	padding: 11px 0;
}
.new-label-footer-fixed{
	position: fixed;
	bottom: 0;
	width: 100%;
	margin:auto; 
	left:0; 
	right:0; 
	bottom:0; 
	margin-left: 100px;
}