.cs-dashboard {
    .dash-table {
        .ant-table-row {
            &:hover {
                background-color: white;
            }
        }
    }

    .cs-list-operation {
        margin-bottom: 15px;

        .ant-select {
            min-width: 100px;
        }

        .note {
            float: right;
            color: #b6b6b6;
            padding-top: 5px;
        }
    }

    .overview-num {
        span {
            font-weight: 600;
        }
    }

    .low-profile {
        color: #f8432f;
    }
}
