<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
        <title>EC-云呼总机申请-企业管理</title>
        <link href="//www.staticec.com/corp/css/global.css?_ev=201612161121" rel="stylesheet" type="text/css" />
        <link href="//www.staticec.com/corp/css/layout.css?_ev=201612161121" rel="stylesheet" type="text/css" />
        <link href="//www.staticec.com/corp/css/layout_accounts.css?_ev=201612161121" rel="stylesheet" type="text/css" />
        <link href="//www.staticec.com/corp/css/layout_Nadmin.css?_ev=201612161121" rel="stylesheet" type="text/css" />
        <link href="//www.staticec.com/corp/css/layout_dialog.css?_ev=201612161121" rel="stylesheet" type="text/css" />
        <link href="//www.staticec.com/corp/css/layout_leftnav.css?_ev=201612161121" rel="stylesheet" type="text/css" />
        <link href="//www.staticec.com/corp/css/layout_specific.css?_ev=201612161121" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="//www.staticec.com/corp/css/acctree.css?_ev=201612161121" />
        <link href="//www.staticec.com/corp/images/favicon.ico?_ev=201612161121" type="image/ico" rel="shortcut icon" />
        <link href="//www.staticec.com/corp/css/layout.css" rel="stylesheet" type="text/css" />
        <link href="//www.staticec.com/corp/css/layout_csSet.css" rel="stylesheet" type="text/css" />
        <link href="//www.staticec.com/corp/css/layout_dialog.css" rel="stylesheet" type="text/css" />
        <link href="//www.staticec.com/api/css/zTree/zTreeStyle.css" rel="stylesheet" type="text/css" />
        <link href="//www.staticec.com/api/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <style>
        {literal}
        a:link{ text-decoration:none}
        .ecnav_2 {background:url(//www.staticec.com/corp/images/admin/nav2.jpg);}
        .debg_box { margin-top: 5px; }
        .act_more { cursor: pointer; font-size: 10px; }
        .act_box { width: 460px; }
        {/literal}
        </style>
        <script src="//www.staticec.com/api/scripts/jquery-1.8.2.min.js?_ev=201612161121" type="text/javascript"></script>
        <script src="//www.staticec.com/api/layer/layer.min.js?_ev=20141121045&_ev=201612161121" type="text/javascript"></script>
        <script type="text/javascript">
        {literal}
        var jq 	=	jQuery.noConflict(),
            corpDomain = '//www.staticec.com/corp/',
            uploadDomain = '//www.staticec.com/',
            apiDomain = '//www.staticec.com/api/';
        {/literal}
        </script>
        <script type="text/javascript" src="//www.staticec.com/corp/js/common.js?_ev=201612161121"></script>
        <script type="text/javascript" src="//www.staticec.com/corp/js/page_dialog.js?_ev=201612161121"></script>
        <script src="//www.staticec.com/api/layApi/layer.common.js?_ev=20150305045&_ev=201612161121" type="text/javascript"></script>
        <script type="text/javascript" src="//www.staticec.com/corp/js/role/adduser.js?_ev=201612161121"></script>
        <script type="text/javascript" src="//www.staticec.com/api/scripts/ztree/jquery.ztree.core-3.5.min.js"></script>
        <script type="text/javascript" src="//www.staticec.com/api/scripts/ztree/jquery.ztree.exedit-3.5.min.js"></script>
        <script type="text/javascript" src="//www.staticec.com/api/scripts/ztree/jquery.ec.ztree.cloudboard.js"></script>
        <script type="text/javascript" src="//www.staticec.com/corp/scripts/jquery.tooltip/jquery.tooltip.min.js?_ev=201612161121"></script>
        <link href="//www.staticec.com/corp/scripts/jquery.tooltip/jquery.tooltip.css?_ev=201612161121" rel="stylesheet" type="text/css" />
    <link href="https://www.staticec.com/corp/switchboard/switchboard.44de589522445471cf508ac33d5ebb96.css" rel="stylesheet"></head>

    <body>
        <div id="wrapper" class="wrapper">
            {include file="templates/head.html"}
            <div id="innerWrapper" class="corp_wrapper">
                <div class="pagebody corp_pagebody">
                    {include file="templates/Accounts/leftset.html" page=$page}
                    <div class="right_cs pre">
                        <div id="root" style="height: 100%;"></div>
                    </div>
                </div>
            </div>
            {include file="templates/footer.html"}
        </div>
    <script type="text/javascript" src="https://www.staticec.com/corp/switchboard/manifest-614ca47dc0de80cab413.js"></script><script type="text/javascript" src="https://www.staticec.com/corp/switchboard/commons-a842fb7169cdb1292f96.js"></script><script type="text/javascript" src="https://www.staticec.com/corp/switchboard/switchboard-d44dd0831066ff1f0c9a.js"></script></body>
</html>
