.ec_time_desc{
    p{
        float: left;
    }
    span{
        float: left;
        height: 100%;
        width: auto;
        color: #303642;
        font-size: 12px;
        margin-left: 18px;
        cursor: pointer;
    }
    .line{
        float: left;
        height: 20px;
        width: 1px;
        background-color: #e0e8f6;
        margin-top: 5px;	
        margin-left: 26px;	
        margin-right: 20px;		
    }
    .on{
        color: #2580e6;
    }
}