.cs-wechat-setting {
    .link {
        color: #428bca;
        cursor: pointer;

        &:hover {
            color: #2a6496;
        }
    }
    .wechat-item {

        padding-top: 15px;

        .wechat-logo {
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 5px;
            // box-shadow: 0px 2px 20px -1px #ccc;
            text-align: center;
            background-color: #00c343;
            color: #fff;
            margin-right: 15px;
            margin-left: 30px;
            font-size: 30px;
        }

        .title {
            line-height: 40px;
            padding-left: 30px;
            color: #333;

            &.border-b {
                border-bottom: 1px solid #d9d9d9;
            }
        }

        .title-wrapper {
            display: inline-block;
            vertical-align: bottom;
            line-height: 34px;
            padding-left: 5px;

            .text {
                // font-weight: bold;
                color: #333;
            }

            .subtitle {

            }

            .oa-status-wrapper {
                display: inline-block;

                .ant-radio-wrapper {
                    margin-right: 20px;
                }
            }
        }

        .btn {
            height: 34px;
            line-height: 20px;
            border-radius: 4px;

            &.btn-green {
                background-color: #00c343;
                border: 1px solid #00c334;
                color: #fff;
            }

            &.btn-go-wechat {
                float: right;
                margin-right: 50px;
            }

        }

        .item-content {
            padding-top: 30px;
            padding-left: 30px;

            .border-t {
                border-top: 1px solid #d9d9d9;
            }

            .c-bold {
                color: #333;
                line-height: 30px;
            }

            .item {
                line-height: 28px;
            }

            .official-account-wrapper {
                display: inline-block;
                text-align: center;
                line-height: 24px;

                .official-account-logo {
                    display: block;
                    width: 60px;
                    height: 60px;
                    border-radius: 5px;
                    box-shadow: 0px 2px 20px -1px #ccc;
                    margin-bottom: 10px;
                }

                .account-name {
                    display: block;
                    color: #333;
                }
            }
        }

    }

    .c-bold {
        font-weight: bold;
    }
}

.warning-content {
    color: #333;
     * {
         color: #333;
     }
}
