.ec_popover{
	width: 485px;
	height: auto;
	padding-bottom: 20px;
	.ec_popover_name{
		font-size: 16px;
		line-height: 25px;
		margin-left: 10px;
		margin-bottom: 15px;
	}
	.title{
		position: relative;
		height: 25px;
		width: auto;
		margin-left: 10px;
		line-height: 25px;
		font-size: 14px;
		font-weight: bold;
		i{
			position: absolute;
			display: inline-block;
			height: 5px;
			width: 5px;
			top: 10px;
			border-radius: 5px;
			background: #2580e6;
		}
		span{
			height: 100%;
			width: auto;
			margin-left: 11px;
		}
	}
	.desc{
		height: auto;
		width: auto;
		line-height: 25px;
		margin-left: 21px;
		margin-right: 10px;
	}
}