.btns {

    .btn-send {
        &.btn-add-icon {
            padding-left: 0;
            padding-right: 0;

            .btn-text {
                padding-left: 10px;
                padding-right: 14px;
            }
        }

        .border-icon {
            //margin-left: 5px;
            padding-left: 5px;
            padding-right: 0;
            border-left: 1px solid rgba(255,255,255,0.2);
        }
    }


}
