* {
    margin: 0;
    padding: 0;
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html,
body {
    .size(100%, 100%);
    font-family: Arial;
}

.clearfix() {
    zoom: 1;
    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
    }
}

.size(@width: auto;
@height: auto) {
    width: @width;
    height: @height;
}

ul li {
    list-style: none;
}

a {
    &,
    &:hover,
    &:active {
        text-decoration: none;
    }
}

.box {
    .size(100%, 100%);
    background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

.progressbar {
    padding-top: 50px;
    // http://www.w3school.com.cn/cssref/pr_gen_counter-reset.asp
    counter-reset: step;
    .clearfix();
    li {
        float: left;
        position: relative;
        text-align: center;
        .size(100px, 40px);
        padding-top: 20px;
        &.active {
            &:before {
                background: #27AE60;
            }
            &:after {
                background: #27AE60 !important;

            }
        }
        &:before {
            content: counter(step);
            counter-increment: step;
            display: block;
            position: absolute;
            top: -15px;
            left: 43px;
            .size(20px, 20px);
            border-radius: 3px;
            margin: 0 auto 5px auto;
            color: #333;
            background: #fff;
        }
        &:nth-child(2),
        &:nth-child(3) {
            &:after {
                content: '';
                width: 100%;
                height: 2px;
                background: #000;
                position: absolute;
                left: -40%;
                top: -7px;
                z-index: -1;
            }
        }
    }
}

.content-box {
    .size(250px,200px);
    overflow: hidden;
    margin-top: 20px;
    .move {
        .size(1000%,100%);
    .clearfix();

    }
}

.step {
    .size(200px, 200px);
    background: pink;
    padding: 20px;
    margin-left: 50px;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    float: left;
    input {
        display: block;
        margin-bottom: 10px;
    }
    a {
        cursor: pointer;
    }
}

.actived {
    left: 0%; 
    opacity: 1;
    transition: all .3s;
    // animation: ani .3s;

}

@keyframes ani {
    to {
    
    }
}
