.help-intro {
    font-size: 12px;
    color: #303642;
    .intro {
        color: #999;
        margin-bottom: 10px;
        margin-left: 38px;
        margin-top: 3px;
        .intro-item {
            position: relative;
            margin-bottom: 3px;
            color: #727C8F;
            span {
                position: absolute;
                left: -15px;
            }
        }
    }
    .intro-head {
        font-size: 14px;
        margin: 0;
        margin-left: 23px;
        margin-bottom: 6px;
        .help {
            font-size: 15px;
            color: #d4deee;
            float: left;
            margin-left: -23px;
        }
    }
}