.ant-layout-left {
		background: #303642;
    text-align: center;
    float: left;
    width: 200px;
}

.ant-layout-right {
	margin-left: 200px;
	.ant-layout-main {
		background: #edf2fa;
		padding: 10px;
    padding-bottom: 0;
    height: calc(~"100% - 92px");
    height: -webkit-calc(~"100% - 92px");
	}
	.ant-layout-container {
    background: #fff;
    padding: 2px 0;
    height: 100%;
	}
	.ant-layout-content {
		overflow-y: auto;
		margin-right: 3px;
		height: 100%;
	}
}