
.main-app {
    width: 1000px;
    margin:0 auto;
    margin-top: 60px;
    margin-bottom: 100px;
    overflow: hidden;
    min-height: 500px;

    label {
        font-size: 16px;
    }

    a {
        outline: 0;
        text-decoration: none;
        color: #333;

        &:hover {
            color: #333; 
        }
    }
}

.main-content {
    margin-left: 250px;
}