.field-wrapper {
    margin-top:0;
    .ant-form-item{
        margin-top: 10px;
        margin-bottom: 0;
    }

    .field-name{
        width: 210px;
        float: left;
    }
    .field-group{
        width: 210px;
        float: left;
    }
    .ant-form-explain{
        position: static;
        float: left;
        margin-top: 7px;
        margin-left: 5px;
    }
    .ant-col-10{
        width: 83.3%
    }
    .crm-type-title {
      h4 {
        width: 100%;
        display: inline-block;
        padding-right: 8px;
        text-align-last: justify;
        text-align: justify;
        color: #727c8f;
        font-size: 14px;
        font-weight: normal;
      }
      span {

      }
      .crm-type-value {
        font-size: 14px;
        padding-top: 7px;
        display: inline-block;
        padding-left: 16px;
      }
    }
    .instruction-wrapper {
      padding-top: 30px;
      margin-top: 30px;
      border-top: 1px dashed #edf2fa;
      h4 {
        color: #303642;
        font-size: 14px;
        font-weight: normal;
      }
      ul {
        li {
          color: #96a0b4;
          line-height: 1.8;
        }
      }
    }
    .ant-form-item-label label {
      width: 100%;
      display: inline-block;
      text-align-last: justify;
      text-align: justify;
      color: #727c8f;
      font-size: 14px;
    }
    .ant-col-10 {
      padding-left: 16px;
    }
    .ant-select, .ant-input, .ant-checkbox-wrapper, .ant-radio-wrapper {
      font-size: 14px;
      vertical-align: middle;
    }
  }

  .ant-form-item-label label:after {
    content: '';
  }

  input {
    display: inline-block;
    font-size: 14px;
    cursor: default;
  }

  input[type="radio"][disabled],
  input[type="checkbox"][disabled],
  input[type="radio"],
  input[type="checkbox"] {
    cursor: default;
  }
  textarea {
    outline:none;
    resize:none;
  }
  .ant-input[disabled] ,
  .ant-checkbox-disabled + span ,
  .ant-radio-disabled + span ,
  .ant-select-disabled .ant-select-selection {
    cursor:  default;
    color: #727c8f;
    //background-color: #fff;
    &:hover {
      border-color: #d4deee;
    }
  }
  .ant-checkbox-wrapper,
  .ant-radio-wrapper {
    cursor:  default;
  }
