.cs-assign-wrapper {

}

.cs-assignment {
    min-height: 510px;
    padding: 12px;

    .c-title {
        padding-bottom: 10px;
        margin-bottom: 12px;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
    }

    .prompt {
        position: absolute;
        bottom: 18px;
        left: 20px;
    }

    .icon-delete {
        font-size: 16px;
        color: #229be5;
        cursor: pointer;
    }

    .not-allowed-wrapper {
        text-align: center;

        .not-allowed {
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 70px;
            height: 50px;
            margin-bottom: 20px;
            margin-top: 100px;

            &.wechat {
                background: url(../../img/wechat-not-allowed.png) no-repeat center center;
            }

            &.web {
                height: 80px;
                background: url(../../img/empty-icon.png) no-repeat center center;
            }
        }

        .text {
            color: #999;
        }
    }
}
