.system-list-theme {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 12px;

    .ant-radio-wrapper-checked {
        .system-theme {
            box-shadow: 0px 1px 10px #a09191;
        }
    }

    .system-theme {
        width: 40px;
        height: 65px;
        background: url('../../../../img/skin-sel.png') no-repeat;
        background-size: cover;
        background-color: #f4f4f4;


        &.default {
            position: relative;
            background: none;

            &:before {
                position: absolute;
                content: '';
                left: 0px;
                right: 0px;
                top: 0;
                height: 20px;
                background-color: #2580e6;
                border-radius: 3px 3px 0 0;
            }

            &:after {
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                bottom: 0;
                height: 45px;
                background-color: #f4f4f4;
            }
        }

        &.quiet {
            background-position: -59px 0;
        }

        &.warm {
            background-position: -119px 0;
        }

        &.bussiness {
            background-position: -179px 0;
        }

        &.passion {
            background-position: -239px 0;
        }

        &.cyan-blue {
            position: relative;
            background: none;

            &:before {
                position: absolute;
                content: '';
                left: 0px;
                right: 0px;
                top: 0;
                height: 20px;
                background-color: #7889b7;
                border-radius: 3px 3px 0 0;
            }

            &:after {
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                bottom: 0;
                height: 45px;
                background-color: #f4f4f4;
            }
        }

        &.dark-green {
            position: relative;
            background: none;

            &:before {
                position: absolute;
                content: '';
                left: 0px;
                right: 0px;
                top: 0;
                height: 20px;
                background-color: #46b274;
                border-radius: 3px 3px 0 0;
            }

            &:after {
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                bottom: 0;
                height: 45px;
                background-color: #f4f4f4;
            }
        }

        &.orange {
            position: relative;
            background: none;

            &:before {
                position: absolute;
                content: '';
                left: 0px;
                right: 0px;
                top: 0;
                height: 20px;
                background-color: #e59e22;
                border-radius: 3px 3px 0 0;
            }

            &:after {
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                bottom: 0;
                height: 45px;
                background-color: #f4f4f4;
            }
        }

        &.jade-green {
            position: relative;
            background: none;

            &:before {
                position: absolute;
                content: '';
                left: 0px;
                right: 0px;
                top: 0;
                height: 20px;
                background-color: #72ad2e;
                border-radius: 3px 3px 0 0;
            }

            &:after {
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                bottom: 0;
                height: 45px;
                background-color: #f4f4f4;
            }
        }
    }

    .mode-name {
        padding-top: 7px;
        text-align: center;
    }
}

.custom-list-theme {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 12px;

    .upload-wrapper {
        margin-bottom: 24px;

        .image-prompt {
            margin-top: 10px;
        }
    }

    .list-background {
        float: left;
    }

    .minimize-background {
        float: right;
    }
}

.position-set {
    .position-preview {
        background-color: #f1f5f6;
        width: 90px;
        height: 134px;
        float: left;
        position: relative;

        .square {
            width: 20px;
            height: 20px;
            position: absolute;
            background-color: #229be5;
        }
    }

    .set-side {
        float: left;
        margin-left: 7px;
    }
}

.pc-entry-setting {
    .image-prompt {
        p {
            color: #bfbfbf;
        }
    }

    .entry-btn-background {
        .image-prompt {
            margin-top: 12px;
        }
    }

    .restore-default {
        cursor: pointer;
        color: #229be4;
    }
}

// .entry-button-styles {
//     .ant-radio-wrapper {
//         margin: 0 15px 25px;
//         vertical-align: bottom;
//     }
//
//     .ant-radio-wrapper-checked {
//         .style-btn {
//             border-color: #40a5ed;
//         }
//     }
//
//     .style-btn {
//         border: 1px solid #7b7b7b;
//
//         + div {
//             margin-top: 5px;
//         }
//     }
//
//     .circle-btn {
//         width: 25px;
//         height: 25px;
//         border-radius: 25px;
//     }
//
//     .square-btn {
//         width: 25px;
//         height: 25px;
//     }
//
//     .h-rectangle {
//         width: 40px;
//         height: 15px;
//         position: relative;
//         top: -9px;
//     }
//
//     .v-rectangle {
//         width: 15px;
//         height: 40px;
//         margin: 0 auto;
//     }
// }
