.add-whitelist {
    p {
        color: #4c4c4c;
        font-size: 14px;
        margin-bottom: 15px;
        text-align: center;
    }
    .add-whitelist-form {
        .ant-form-item {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
