.setting-save-btn {
    &[disabled] {
        color: #758791;
        border-color: #d4deee;

        &:hover {
            color: #758791;
        }
    }

    .success-check {
        padding-right: 5px;
        position: relative;
        top: -1px;
    }

    // &.setting-saving, button.setting-saved {
    //     background-color: #f3f3f3;
    //     border-color: #f3f3f3;
    // }

    &.setting-saved[disabled] {
        cursor: default;
    }
}
