<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>EC营销即时通|工作台</title>
    <link href="//www.staticec.com/my/css/global.css?_ev=201611041037" rel="stylesheet" type="text/css" />
    <link href="//www.staticec.com/my/images/favicon.ico?_ev=201611041037" type="image/ico" rel="shortcut icon" />

    <script type='text/javascript' src='//www.staticec.com/my/comm/js/ECBridge.js'></script>
    <script type='text/javascript' src='//www.staticec.com/my/comm/js/lib_2f85e.js'></script>
<link href="//1.staticec.com/my/ecapp/css/ecapp.1606e.css" rel="stylesheet"></head>
<body>
    <div class="wrapper">
        <div class="app-list-box" id="root">

        </div>
    </div>
<script type="text/javascript" src="//1.staticec.com/my/ecapp/js/ecapp.1606e.js"></script>

</html>