.help-tips {
    margin-top: 15px;
    color: #727c8f;
    font-size: 14px;
    .put-on {
        color: #2580e6;
        border-bottom: 1px solid transparent;
    }
    .put-on:hover {
        border-bottom-color: #2580e6;
    }
    i {
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-right: 3px;
        background: url(tip.png) 0 0 no-repeat;
        background-size: 100% 100%;
        vertical-align: sub;
    }
}