.switchboard-apply-list {
    .statistics {
        margin: 15px 0 20px;
    }

    .operate {
        a, span {
            padding: 0 4px;
            cursor: pointer;
        }

        .disable {
            color: #ccc;
        }

        .remove, .refuse {
            color: red;
        }
    }

    .comment-content {
        color: red;
    }

    .refuse-result {
        color: red;
    }
}

.apply-pass-two {
    .ant-confirm-title {
        font-size: 18px;
    }

    .ant-confirm-content {
        font-size: 14px;
        margin-top: 12px;
    }
}

.ant-modal-content input {
    height: 30px;
    line-height: 1.5;
}

.no-padding .ant-confirm-body {
    .ant-confirm-content {
        margin-left: 0;
    }
}

/*号码修改*/
.content-phone{
    height: 200px;
    border: 1px solid #e6e6e6;
    overflow-y: scroll;
}
.surplus-phone{
    text-align: right;
    margin-bottom: -20px;
}