.float-chat-preview {
    width: 100%;

    .chat-head {
        padding: 12px 9px;
    }

    .cs-info {
        float: left;
    }

    .cs-avatar {
        float: left;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        vertical-align: baseline;
        margin-right: 9px;
    }

    .cs-misc {
        float: left;
    }

    .minimize-win {
        float: right;
        color: white;
        width: 9px;
        height: 17px;
        border-bottom: 1px solid white;
        cursor: pointer;
        position: relative;
        top: -9px;
    }
}
