ul,
li {
  list-style: none;
}
#tab-body {
  width: 520px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#tab-body ul#img-box {
  width: 500%;
  position: absolute;
  left: 0;
}
#tab-body ul#img-box:before,
#tab-body ul#img-box:after {
  content: " ";
  display: table;
}
#tab-body ul#img-box:after {
  clear: both;
}
#tab-body ul#img-box li,
#tab-body ul#img-box li img {
  width: 500px;
  height: 300px;
  overflow: hidden;
  float: left;
}
#tab-body ul#num-box {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
#tab-body ul#num-box li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #000;
  cursor: pointer;
}
#tab-body ul#num-box li:hover {
  background: red;
}
#tab-body ul#num-box li.active {
  background: red;
}
#vr-tab-box:before,
#vr-tab-box:after {
  content: " ";
  display: table;
}
#vr-tab-box:after {
  clear: both;
}
#vr-tab-box ul#nav {
  width: 50px;
  float: left;
}
#vr-tab-box ul#nav:before,
#vr-tab-box ul#nav:after {
  content: " ";
  display: table;
}
#vr-tab-box ul#nav:after {
  clear: both;
}
#vr-tab-box ul#nav > li {
  width: 100%;
  height: 30px;
  float: left;
  border: 5px solid red;
  cursor: pointer;
  transition: background .2s;
  text-align: center;
}
#vr-tab-box ul#nav > li.active {
  font-size: 20px;
  font-weight: bold;
  border-color: green;
  background: red;
}
#vr-tab-box #content-box {
  float: left;
}
#vr-tab-box #content-box .content ul.content-nav:before,
#vr-tab-box #content-box .content ul.content-nav:after {
  content: " ";
  display: table;
}
#vr-tab-box #content-box .content ul.content-nav:after {
  clear: both;
}
#vr-tab-box #content-box .content ul.content-nav li {
  float: left;
  width: 30px;
  background: pink;
  border: 2px solid green;
}
#vr-tab-box #content-box .content ul.content-nav li.active {
  border-color: pink;
  background: blue;
  color: #fff;
}
#vr-tab-box #content-box .content div.content-items {
  margin-left: 40px;
}
#vr-tab-box #content-box .content div.content-items:before,
#vr-tab-box #content-box .content div.content-items:after {
  content: " ";
  display: table;
}
#vr-tab-box #content-box .content div.content-items:after {
  clear: both;
}
#vr-tab-box #content-box .content div.content-items li {
  float: left;
  width: 50px;
  background: #ddd;
  border: 2px dotted #000;
  display: none;
}
#vr-tab-box #content-box .content div.content-items li.active {
  display: block;
}
#vr-tab-box #content-box .content.hide {
  display: none;
}
