@import '../../../../../../../comm/ec-antd/lib/style/themes/default.less';

.back-rule-sign{
    padding-left: 20px;
    .white-btn{
        background: #fff;
        margin-right: 10px;
    }
    .back-rule-addsign{
        color: @text-color-secondary;
    }
    .back-rule-signpool{
        border: solid 1px @border-color-base;
        height: 170px;
        width: 800px;
        padding: 10px;
        overflow: auto;
        li{
            float: left;
            border-radius: @border-radius-sm;
            background-color: @primary-color;
            padding: 5px;
            color: #fff;
            margin-right: 10px;
            margin-bottom: 10px;
            i{
                float: right;
                visibility: hidden;
                margin-top: 4px;    
                cursor: pointer;    
                margin-left: 5px;
            }
            &:hover{
                i{
                    visibility: inherit;
                }
            }
        }
    }
}

.tag-theme(@color){
    background-color: @color;
}


.back-rule-signpool {
    li.c1 {
        .tag-theme(#2580e6);
    }
    li.c2 {
        .tag-theme(#48b274);
    }
    li.c3 {
        .tag-theme(#e69e23);
    }
    li.c4 {
        .tag-theme(#00b16a);
    }
    li.c5 {
        .tag-theme(#9264cd);
    }
    li.c6 {
        .tag-theme(#588ad4);
    }
    li.c7 {
        .tag-theme(#f26c63);
    }
    li.c8 {
        .tag-theme(#7889b9);
    }
    li.c9 {
        .tag-theme(#fc7736);
    }
    li.c10 {
        .tag-theme(#788385);
    }
    li.c11 {
        .tag-theme(#807399);
    }
    li.c12 {
        .tag-theme(#cd8a3e);
    }
    li.c13 {
        .tag-theme(#9e9a27);
    }
    li.c14 {
        .tag-theme(#b76e6e);
    }
    li.c15 {
        .tag-theme(#c8557d);
    }
    li.c16 {
        .tag-theme(#33b1b3);
    }
    li.c17 {
        .tag-theme(#989898);
    }
    li.c18 {
        .tag-theme(#d99428);
    }
    li.c19 {
        .tag-theme(#e16356);
    }
    li.c20 {
        .tag-theme(#5c7bd2);
    }
}