.sale-global {
  .add-modal{
    .ant-modal-content{
      .ant-modal-body{
        padding-bottom: 20px;
      }
    }
  }
  .sale-header {
    padding: 18px 20px 18px 20px;
    .desc{
      color: #96a0b4;
      font-size: 14px;
    }
    color: #96a0b4;
    font-size: 14px;
    .iconfont{
      color: #6fa5ff;
      font-size: 15px;
      margin-right: 4px;
    }
  }
  .add-btn-wrapper {
    padding: 12px;
    background-color: #edf2fa;
    margin-bottom: 20px;
    margin-top: 20px;
    .ant-form-item {
      margin: 0;
    }
  }
  .formLayout {
    margin:0 20px;
    border: 1px solid #d4deee;;
    padding: 16px 11px;
    min-width: 1200px;
    overflow: auto;
      &>h3{
          font-weight:normal;
          color:#263450;
          font-size: 14px;
      }
      .add-btn-wrapper{
        .ant-btn {
          color: #263450;
          background-color: #fff;
          border-color: #d4deee;
          &:hover {
            border-color: #96a0b4;
          }
          &:active {
            color: #263450;
            background-color: #edf2fa;
            border-color: #96a0b4;
          }
        }
        .add-field-warning{
          color: red;
          margin-left: 10px;
        }
      }
  }
  .editabel-btn-wrapper {
    li {
      display: inline-block;
      padding: 10px 10px;
      cursor: pointer;
      &:hover {
        color:  #2580e6;
      }
    }
  }
}


.ant-form-item-control {
  //position: relative;
}
.has-error .ant-form-explain,
.has-error .ant-form-split {
  //position: absolute;
  //right: -84px;
  //top: 4px;
}
.has-error .ant-input:focus {
  box-shadow: none;
}
.ant-modal-header {
  padding-bottom: 20px;
}
.ant-modal-footer {
    border-top: 1px solid #d4deee;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f8f9fc;
}

.ant-modal-body {
  padding-top: 10px;
  max-height: 456px;
  overflow: auto;
}

.ant-popover-inner {
  border: none;
}

.anticon {
  font-weight: bolder;
}

.disabled-title {
  color: #c0c8d8 !important;
}

#react-content {
  min-width: 1320px;
  overflow-x: auto;
}
