.appeal-manage {
    input[type="text"] {
        height: 30px;
        line-height: 1.5;
        padding: 7px 10px;
    }

    .appeal-table-operation input {
        margin: 7px 0;
    }

    .search-op {
        margin-top: 51px;

        .appeal-search-btn {
            margin-right: 12px;
        }
    }
}
