.goal-detail{
    background-color: #F0F2F4;
    .header{
        background-color:  #F9FAFB;
        height: 90px;
        line-height: 90px;
        border-bottom: 1px solid #DADFE4;
        padding-right:30px;
        padding-left: 30px;
        .avatar{
            vertical-align: middle;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
        .left{
            font-size: 28px;
            color: #303642;
        }
        .right{
            font-size: 26px;
            color: #727C8F;
            float: right;
        }
        .title{
            margin-left: 30px;
            font-size: 32px;
            color: #303642;
        }
    }
    .no-data-content{
        background-color: #ffffff;
        padding: 30px;
        text-align: center;
        img{
            width: 180px;
        }
        p{
            font-size: 26px;
            color: #81878E;
            margin: 20px 0 0 0;
        }
    }
    .chart-panel{
            background: #ffffff;
            padding: 30px;
            text-align: center;
            .chart{
                display: inline-block;
            }
            .stat{
                display: inline-block;
                vertical-align: top;
                margin-left: 30px;
                .t1{
                    color: #303642;
                    font-size:26px;
                    margin-left:20px;
                    display: inline-block;
                    width:120px;
                }
                .t2{
                    color: #303642;
                    font-size:26px;
                }
                .goal{
                    display: flex;
                    align-items: center;
                    padding-bottom:30px;
                    padding-top: 25px;
                    border-bottom:1px solid #DCDFE5;
                    .icon{
                        color: #FF930D;
                        float: left;
                        width:25px;
                        height:25px;
                        font-size:25px;
                    }
                    .t2{
                        color: #303642;
                    }
                }
                .finished{
                    display: flex;
                    align-items: center;
                    padding-top:30px;
                    .icon{
                        display: inline-block;
                        background-color: #60ABF8;
                        width:25px;
                        height:25px;
                        float: left;
                    }
                    .t2{
                        color: #3180E6;
                    }

                }
                .unfinished{
                    display: flex;
                    align-items: center;
                    padding-top:30px;
                    .icon{
                        display: inline-block;
                        background-color: #F76F57;
                        width:25px;
                        height:25px;
                        float: left;
                    }
                    .t2{
                        color: #f2534f;
                    }
                }
            }
            .warn-less{
                margin-top: 60px;
                background-color: #F0F2F4;
                border-radius: 6px;
                padding: 20px;
                font-size: 26px;
                color: #303642;
                line-height: 40px;
                .iconfont{
                    font-size: 28px;
                    color: #727C8F;
                }
                .money{
                    font-size: 26px;
                    color: #DF3631;
                }
            }
            .warn-good{
                margin-top: 60px;
                background-color: #FFF2C9;
                border-radius: 6px;
                padding: 20px;
                font-size: 26px;
                color: #303642;
                line-height: 40px;
                text-align: center;
            }
            .warn-awesome{
                margin-top: 60px;
                background-color: #FFF2C9;
                border-radius: 6px;
                padding: 20px;
                font-size: 26px;
                color: #DF3631;
                line-height: 40px;
                text-align: center;
            }
        }
    .line-panel{
        margin-top: 30px;
        background-color: #FFFFFF;
        padding: 30px 0;
        .title{
            text-align: center;
            font-size: 28px;
            color: #303642;
            font-weight: normal;
            margin-bottom: 30px;
        }
    }
        
}