.mobile-entry-setting {
    .entry-style {
        > .ant-form-item-label {
            border-bottom: none;
        }
    }

    .entry-tips {
        line-height: 1.8;
        color: #b3b3b3;
    }

    .image-prompt {
        margin-top: 12px;

        p {
            color: #bfbfbf;
        }
    }
}
