@import "../../../../../../comm/antd/lib/style/themes/default.less";

.refresh_time {
    position: absolute;
    right: 0;
    top: 13px;
    color: @input-placeholder-color;
    i {
        display: inline-block;
    }
}
