.cs-blank-page {
    width: 100%;
    height: 100%;
    text-align: center;
    // background: url('../../images/blank-bg.png') center / contain no-repeat;
}

.offline-prompt {
    text-align: center;

    .ant-modal-content {
        min-width: 340px;
    }

    .ant-modal-close {
        display: none;
    }

    p {
        font-weight: 600;
        font-size: 18px;
        color: #616366;
    }
}
