@import "../../../../../../../comm/antd/lib/style/themes/default.less";
.ec_header {
	.clearfix();
	position: relative;
	.title{
		position: relative;
		height: 20px;
		width: 100%;
		margin-top: 12px;
		margin-bottom: 10px;
		p{
			display: inline-block;
			height: 100%;
			width: auto;
			line-height: 20px;
			font-size: 18px;
			color: #303642;
		}
		i{
			position: absolute;
			width: 15px;
			height: 15px;
			left: 77px;
			top: 3px;
			background: url(//www.staticec.com/my/images/employee-icon.png) no-repeat -3px -52px;
		}
	}
	.refresh_time {
		position: absolute;
		right: 0;
		top: 13px;
		color: @input-placeholder-color;
		i {
			display: inline-block;
		}
	}
}
.statistics-items {
	width: 86%;
	margin: 0 auto;
	margin-bottom: 50px;
	li {
		display: inline-block;
		width: 24%;
		text-align: center;
		position: relative;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 15px;
			width: 0;
			height: 30px;
			border-right: 1px solid #e0e8f6 ;
			right: 0;
		}
		&:last-child{
			&:after {
				border-right: transparent;
			}
		}
		p{
			color: @input-color;
			font-size: 14px;
			margin-bottom: 14px;
		}
		span {
			color: @input-color;
			font-size: 24px;
			font-weight: bold;
		}
	}
}
.statistics-table {
	width: 100%;
	margin: 0 auto;
	border: 1px solid #e0e8f6;
	ul {
		.clearfix();
		li {
			width: 20%;
			float: left;
			line-height: 40px;
			height: 40px;
			text-align: center;
			color: #727c8f;
			font-size: 14px;
			background: #fafbfd;
			border-right: 1px solid #e0e8f6;
			border-bottom: 1px solid #e0e8f6;
			cursor: pointer;
			transition: all .3s;
			&:last-child {
				border-right: transparent;
			}
			&.active {
				background: #fff;
				font-weight: bold;
				color: @primary-color;
				border-bottom: transparent;
			}
		}

	}
}
.tips{
	position: relative;
	height: 30px;
	margin: 0 8px 10px 8px;
	background-color: #fafbfd;
	border-top: 1px solid #e0e8f6;
	border-bottom: 1px solid #e0e8f6;
	i{
		position: absolute;
		display: inline-block;
		width: 15px;
		height: 15px;
		top: 7px;
		left: 20px;
		background: url(//www.staticec.com/my/images/employee-icon.png) no-repeat -62px -44px;
	}
	p{
		position: absolute;
		left: 40px;
		top: 0px;
		height: 100%;
		width: auto;
		/*line-height: 30px;*/
		font-size: 14px;
		color: #303642;
		span{
			font-weight: bold;
		}
	}
}
