.permission-setting-detail {
    overflow:hidden;
    margin-left: 12px;
    float: left;
    width: 66%;

    .head {
        span {
            color: #229be5;
            font-weight: 600;
        }
    }

    .ant-btn span {
        color: #666;
    }

    .permission-table-list {
        th {
            height: 30px;
            line-height: 30px;
        }

        td {
            height: 40px;
            line-height: 20px;
            border-bottom: 1px #ebebeb solid;
        }

        th, td {
            padding: 0;
        }
    }

    .operates {
        .setting-icon {
            margin: 0 5px;
        }
    }
}

.deploy-service {
    .must-dot {
        color: red;
        padding-right: 3px;
        position: relative;
        top: 2px;
    }

    .paralleling {
        width: 240px;
        display: inline-block;
    }

    .ant-select-selection-selected-value{
        line-height:30px;
    }

    .first-l {
        margin-left: 53px;
    }

    .list-item {
        label {
            input {
                float: left;
                margin: 0 0 0 0;
            }
        }
    }

    .item-first{
        padding-top:8px;
    }

    .role-check {
        span:nth-child(2) {
            color: #262626;
        }
    }

    .greyed-text {
        color: #999999;
    }
}
.ectree_bg{
    width: 239px;
}
