.copy-button {
    .success-check {
        padding-right: 5px;
        position: relative;
        top: -1px;
    }
}

button.copy-button.copied {
    background-color: #f3f3f3;

    span {
        color: #758791;
    }
}

button.copy-button[disabled] {
    cursor: default;
}
