.filter-panel{
    padding:20px 20px 20px 0;
    width:100%;
    text-align: right;
    height:75px;
    border-bottom:1px solid #edf2fa;
    .search-type{
        margin-left:10px;
        .ant-select-selection{
            border-radius: 0;
            border-right:none;
        }

    }
    .search{
        input{
            border-radius: 0;

        }
    }
    .ant-select-selection{
        top:-1px;
    }
    .filter-btn{
        margin-left:10px;
        border-radius: 0;
        background-color: #fff;
    }
}
