@font-face {
    font-family: 'iconfont';  /* project id 281681 */
    src: url('//at.alicdn.com/t/font_f37tgt0s9zqfflxr.eot');
    src: url('//at.alicdn.com/t/font_f37tgt0s9zqfflxr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_f37tgt0s9zqfflxr.woff') format('woff'),
    url('//at.alicdn.com/t/font_f37tgt0s9zqfflxr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_f37tgt0s9zqfflxr.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    -moz-osx-font-smoothing: grayscale;
}
body .rightContent{
    margin-left:130px !important;
}

.clear-fix{
    clear: both;
}

.rank{
    .t-area{
        margin-top:25px;
        margin-bottom:25px;
        .left-side{
            display: inline-block;
            .title{
                font-size:14px;
                font-weight: bold;
                color: #303642;
                float: left;
            }
            .icon{
                color: #6FA5FF;
                margin-left:5px;
                float: left;
                cursor: pointer;
            }
            .ant-popover{
                // left:213px !important;
                h3{
                    color: #303642;
                    font-size:12px;
                    font-weight:bold;
                    margin-bottom:7px;
                }
                ul{
                    li{
                        font-size:12px;
                        line-height: 2;
                        color: #303642;
                    }
                }
            }
        }
        .right-side{
            display: inline-block;
            float: right;
            .ctrl-btn{
                color: #303642;
                cursor: pointer;
                .icon{
                    font-size:13px;
                    margin-right:5px;
                }
                &.active{
                    color:#3180E6;
                }

            }
            .split{
                margin: 0 7px;
                color: #DADDE3;
            }
        }
        .panel-wrapper{
            padding-top:25px;
            width:820px;
            margin: 0 auto;
            .panel{
                background: #F0F2F8;
                border-radius: 3px;
                border-top:5px solid #FF930D;
                width:200px;
                height:114px;
                padding:20px;
                margin-left:50px;
                display: inline-block;
                &:first-child{
                    margin-left:70px;
                }
                &.panel-orange{
                    border-top:5px solid #FF930D;
                    .icon{
                        color: #FF930D;
                        background-color: #fff;
                    }
                }
                &.panel-blue{
                    border-top:5px solid #60ABF8;
                    .icon{
                        color: #60ABF8;
                        background-color: #fff;
                    }
                }
                &.panel-green{
                    border-top:5px solid #37CF66;
                    .icon{
                        color: #37CF66;
                        background-color: #F0F2F8;
                    }
                }
                h3{
                    font-size: 14px;
                    font-weight:bold;
                    color: #303642;
                    border-bottom: 1px solid #DCDFE5;
                    padding-bottom:8px;
                    margin-bottom:2px;
                    .icon{
                        border-radius: 50%;
                        font-size: 15px;
                        display: inline-block;
                        line-height: 15px;
                        text-align: center;
                        margin-right:5px;
                    }

                }
                p{
                    font-size: 12px;
                    color: #303642;
                    line-height:2;
                    .title{
                        margin-right:20px;
                    }
                }
            }
        }
    }
    .ant-table{
        border-radius:0;
        .ant-table-placeholder{
            border-left: 1px solid #DADDE4;
            border-right: 1px solid #DADDE4;
        }
        table{
            border-radius:0;
            border-collapse: collapse !important;
            border: 1px solid #DADDE4 !important;
            .ant-table-thead{
                th{
                    background: #F5F6F9;
                    border: 1px solid #DADDE4;
                    padding-top:6px;
                    padding-bottom:6px;
                    padding-left: 20px;
                    &.align-center{
                        text-align: center;
                    }
                }
            }
            .ant-table-tbody{
                tr{
                    td{
                        padding-left: 20px;
                        border:none;
                        height:50px;
                        .ant-table-row-expand-icon{

                        }
                        &.align-center{
                            text-align: center;
                        }
                    }
                    &:nth-child(even){
                        background: #F5F6F9;
                    }
                    &:nth-child(odd){
                        background: #fff;
                    }

                }
                
            }
        }
    }
    
}


