.ant-modal-footer {
    text-align: center;

    button {
        float: none;
        color: white;
        margin: 0 7px;
        border-radius: 0;
        height: 27px;
        line-height: 15px;
        min-width: 72px;
        border-radius: 3px;
    }

    .ant-btn-primary {
        background: #54a6d9;
        border-color: #54a6d9;
        span {
            color: white;
        }
    }

    .ant-btn-ghost {
        background: white;
        color: #333;
        border: 1px solid #ccc;
        span {
            color: #333;
        }
    }
}

input[type="text"] {
    height: 32px;
    line-height: 1.5;
}

.ant-btn-primary {
    span {
        color: #fff;
    }
}
