.bill-detail{
    background-color: #F0F2F4;
    min-height: 100vh;
    .card{
       .header{
            margin-bottom: 30px;
            padding-left: 30px;
            background-color: #fff;
            p{
                 border-bottom: none;
            }
       }
       .title{
            padding-left: 30px;
            font-size: 24px;
            color: #81878E;
            height: 80px;
            line-height: 80px;
       }
       .content{
            padding-left: 30px;
            background-color: #fff;
       }
        p{
            height: 100px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #D5DBE1;
            &:last-child{
                border-bottom: none;
            }
            .t{
                display: inline-block;
                width: 160px;
                padding-right: 30px;
                font-size: 26px;
                color: #81878E;
            }
            .v{
                font-size:  26px;
                color: #303642;
            }
        }
    }
}