iframe{
    border:0;
}
.modal-employee{
    .ant-modal-body{
        padding:0;
    }
}
.menubg li{
    height: 37px;
}
.csbg1{
    width: 286px;
    height: 43px;
    padding-left: 42px;
}
.csbg2{
    width:278px;
}
.mobile{
	margin-top: 20px;
	span{
		margin-right:5px;
	}
	input{
		margin-left: 10px;
		width: 150px;
	}
	text-align: center;

}
.addcs_left{
	height: 475px;
}
.ectree_bg{
	width: 237px;
}