.range-date-picker {
    width: 308px;
    margin: 0 auto 0;
    max-height: 0;
    transition: all 0.28s ease-in;
    overflow: hidden;

    &.show {
        margin-top: 20px;
        max-height: 30px;
    }

    span.divider {
        width: 14px;
        border-bottom: 1px solid #b5bcc4;
        height: 1px;
        display: inline-block;
        vertical-align: middle;
    }
}
