.ec_date_content{
    position: relative;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    .ec_date{
        float: left;
    }
    .ec_line{
        float: left;
        height: 20px;
        width: 1px;
        background-color: #e0e8f6;
        margin-top: 5px;    
        margin-left: 30px;  
        margin-right: 30px; 
    }
}