.embed-setting {
    * {
        color: #555;
    }

    .bold-text {
        font-weight: 600;
    }

    .embed-link-wrapper {
        margin-bottom: 30px;

        .link {
            background-color: #f0f0f0;
            padding: 23px 20px;
            margin: 15px 0;
        }
    }

    .prompt {
        margin-top: 12px;

        ul {
            li {
                color: #555;
                margin: 7px 0;
            }
        }

        .usage-image {
            margin: 20px 60px;
            max-width: 100%;
        }
    }
}
