.not-active-page {
    padding: 0 20px;

    .notice-head {
        margin: 35px auto 0;
        width: 95%;
        // text-align: center;

        .icon-block {
            float: left;
        }

        .content {
            float: left;
            width: 80%;
            margin-left: 25px;
        }

        h2 {
            font-size: 30px;
            color: #1f2229;
            margin-bottom: 20px;
        }

        p {
            line-height: 2.2;
            color: #797d7f;
            font-size: 14px;
            width: 83%;
        }
    }

    .page-block {
        margin-bottom: 60px;
    }

    .intro-title {
        font-size: 16px;
        padding: 0 0 20px 20px;
        color: #2580e6;
        font-weight: 600;
        border-bottom: 1px solid #e6e6e6;
    }

    .content-text {
        line-height: 2.2;
        color: #7a7c80;

        &.with-pad {
            padding-left: 20px;
        }
    }

    .left-block {
        float: left;
        width: 47%;
    }

    .right-block {
        float: right;
        width: 47%;
        margin-left: 30px;
    }

    .reply-block {
        margin-top: 60px;
    }

    .intro-content {
        margin: 50px 0 70px;
        padding: 0 30px;

        img {
            width: 100%;
        }
    }

    .news-tip {
        background-color: #2580e6;
        color: white;
        padding: 1px 3px;
        border-radius: 2px;
        display: inline-block;
        margin-right: 7px;
    }

    p.feature-content {
        margin-top: 20px;
        .content-text;
    }

    .feature-name {
        font-weight: 600;
        color: #393f4d;
    }

    .feature-list {
        padding: 0 30px;
        width: 76%;

        h4 {
            color: #444;
            font-weight: 600;
        }

        ul {
            margin-left: 12px;
        }

        li {
            margin: 10px 0;
            list-style: decimal;
        }
    }

    .corp-intro, .not-active-tips {
        .intro-title {
            margin-bottom: 30px;
        }

        .optimize-list {
            margin-top: 30px;
        }
    }

    .not-active-tips {
        ul {
            margin-left: 5px;
        }
    }

    .data-content, .reply-content {
        .left-block {
            margin-left: -15px;
        }
    }

    .visitor-content {
        .right-block {
            img {
                margin-left: -15px;
            }
        }
    }

    .active-wrapper {
        margin-top: 50px;
        text-align: center;
    }

    .active-btn {
        width: 180px;
        padding: 12px 20px;
        border-radius: 2px;

        span {
            font-size: 16px;
        }
    }
}

.active-prompt {
    .ant-modal-close {
        display: none;
    }

    .ant-modal-content {
        min-width: 360px;
    }

    p.warning-content {
        // text-align: center;
        // font-size: 14px;
        // line-height: 1.8;
        color: #666;
        float: left;
        margin-top: 12px;
        margin-left: 10px;
    }
}
