.detail-table {
    margin-bottom: 30px;
    .title {
        text-align: right;
        margin-bottom: 10px;
        > span {
            float: left;
            font-size: 14px;
            color: #303642;
            font-weight: bold;
            margin-top: 10px;
        }
    }
    .ant-btn {
        background: #fff;
    }

    .link-btn {
        display: inline-block;
        color: #2680e6;
        font-size: 14px;
        margin-top: 10px;
        cursor: pointer;
        &:hover {
            // text-decoration: underline;
        }
    }
}