* {
    margin: 0;
    padding: 0;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    font: 14px Arial, "Microsoft yahei";
    background: #fff;
}

body {
    -webkit-text-size-adjust: none;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #2580e6;
    &:hover {
        color: #5199eb;
    }
}

img {
    display: inline-block;
    border: 0;
}

input {
    font-family: Arial, "Microsoft YaHei";
}

::selection {
    background: #f74e4e;
    color: #fff;
}


/*mixins*/

.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.size(@width, @height) {
    width: @width;
    height: @height;
}


/*mixins*/


/*component*/

a.ec-btn {
    background: #2580e6;
    color: #fff;
    font-size: 12px;
    padding: 0 20px;
    border: 1px solid #2580e6;
    border-radius: 2px;
    min-width: 66px;
    height: 30px;
    line-height: 28px;
    display: inline-block;
    text-align: center;
    transition: background .5s, border .4s;
    &:hover {
        background: #3591f8;
        border-color: #3591f8;
        color: #fff;
    }
    &:active {
        background: #1872d6;
        border-color: #1872d6;
        color: #fff;
    }
    &:focus {
        color: #fff;
    }
    &.disabled {
        background: #ccc;
        color: #fff;
        border-color: #ccc;
        cursor: not-allowed;
    }
    &.ec-btn-lg {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
    }
    &.ec-btn-cancel {
        border: 1px solid #d9d9d9;
        background: #fff;
        color: #4c4c4c;
        &:hover {
            color: #4c4c4c;
            background: #f7f7f7;
            border-color: #d9d9d9;
        }
        &:active {
            background: #f0f0f0;
            color: #4c4c4c;
        }
        &.disabled {
            background: #fafafa;
            color: #cccccc;
            border-color: #d9d9d9;
            cursor: not-allowed;
        }
    }
}

input.ec-input,
textarea.ec-input {
    font-size: 12px;
    line-height: 20px;
    height: 30px;
    padding: 0 12px;
    color: #303642;
    border: 1px solid #d4deee;
    &:hover {
        border-color: #2580e6;
        color: #303642;
    }
    &:focus,
    &:active {
        border-color: #2580e6;
        color: #303642;
        outline: 0;
    }
}

textarea.ec-input {
    resize: none;
}


/*component*/


/*small-cs-online*/

.small-cs-online {
    position: fixed;
    right: 1px;
    bottom: 1px;
    .size(380px, 520px);
    margin: 0 auto;
    border: 1px solid #d9dfea;
    box-shadow: 0px 1px 0 0 #ebebeb;
    overflow: hidden;
    .btn-control {
        .clearfix();
        position: absolute;
        right: 0;
        top: 0;
        li {
            float: left;
            .size(38px, 38px);
            cursor: pointer;
            &.min {
                background: url(img/sys_min_normal.png);
                &:hover {
                    background: url(img/sys_min_hot.png);
                }
            }
            &.close {
                background: url(img/sys_close_normal.png);
                &:hover {
                    background: url(img/sys_close_hot.png);
                }
            }
        }
    }
    .small-cs-head {
        .clearfix();
        background: #f7f7f7;
        padding: 20px;
        img {
            float: left;
            margin-right: 8px;
        }
        &-text {
            float: left;
            p {
                color: #3a3a3a;
                font-size: 16px;
            }
            span {
                color: #a2a2a2;
                font-size: 12px;
            }
        }
    }
    .small-cs-content {
        .size( 100%, 306px);
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        background: #fff;
        .auto-end-text {
            display: none;
            font-size: 12px;
            text-align: left;
            color: #999;
            .size(316px, auto);
            margin: 0 auto;
            margin-top: 22px;
            line-height: 1.67;
            padding: 8px 10px;
            border-radius: 3px;
            background-color: #f5f5f5;
        }
    }
    .small-cs-footer {
        padding: 10px;
        .small-cs-icon {
            .clearfix();
            li {
                float: left;
                margin-right: 15px;
                cursor: pointer;
            }
        }
        .small-cs-input {
            height: 64px;
            textarea {
            	.size(100%,70%);
            	border: none;
    					outline: none;
    					resize: none;
    					margin: 10px 0;
    					-webkit-appearance: none;
            }
        }
        .small-cs-footer-btn {
            text-align: right;
            a.ec-btn {
                padding: 0 1px;
                &:last-child {
                    margin-left: 8px;
                }
            }
        }
        .auto-end-footer-text {
        		display: none;
            text-align: center;
            color: #999;
            line-height: 1.71;
            a {
                font-weight: 300;
            }
        }
    }
    /*对话结束*/
    &.small-cs-online-end {
        .auto-end-text {
            display: block;
        }
        .small-cs-footer-btn,
        .small-cs-icon {
            display: none;
        }
        .small-cs-input {
            height: 50px;
            visibility: hidden;
        }
        .auto-end-footer-text {
        	display: block;
        }
    }
    /*留言*/
    &.small-cs-leave-mes {
        .small-cs-content {
            .size(90%, auto);
            border: none;
            margin: 0 auto;
        }
        .leave-mes-text {
            font-size: 12px;
            line-height: 2;
            color: #808080;
            margin: 16px auto;
            text-align: center;
        }
        ul {
            li {
                margin-bottom: 10px;
                span {
                    width: 36px;
                    text-align: right;
                    display: inline-block;
                    color: #141414;
                    font-size: 12px;
                }
                .ec-input {
                    margin-left: 14px;
                    width: 236px;
                }
                textarea.ec-input {
                    height: 100px;
                }
                &:last-child {
                    .ec-input {
                        width: 76px;
                    }
                    cite.verification-code {
                        display: inline-block;
                        .size(115px, 43px);
                        background: #eee;
                        vertical-align: top;
                        cursor: pointer;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

/*居中弹层*/
.web-cs-modal {
	.small-cs-online {
		width: 700px;
		position: absolute;
		margin-left: -350px;
		margin-top: -260px;
		left: 50%;
		top: 50%;
	}
	.small-cs-left {
		float: left;
		width: 490px;
	}
	.small-cs-right {
		float: right;
		text-align: center;
		.size(209px,100%);
		border-left: 1px solid #ebebeb;
		.cs-img {
			display: inline-block;
			.size(120px,120px);
			border-radius: 50%;
			margin-top: 30px;
			margin-bottom: 20px;
			background: #eee;
		}
		h4 {
			font-size: 18px;
			color: #2b2b2b;
			margin-bottom: 30px;
		}
		ul {
			width: 85%;
			margin: 0 auto;
			text-align: left;
			li {
				color: #333;
				margin-bottom: 20px;
			span {
				color: #999;
			}
			}
		}
	}
}
