.apply-pass-one {
    .tip {
        font-size: 18px;
        color: #4dbd11;
        margin-bottom: 12px;
    }

    .number-input {
        margin: 8px 0 12px;
    }
}
.add-label{
	display: inline-block;
    vertical-align: middle;
    margin-top: 7px;
}
.group{
	margin-top: 20px;
}