@import "../../../comm/ec-antd/lib/style/themes/default.less";

.clearfix() {
  zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
}

@bg_color: #2580e6;

.new-label-header {
    .clearfix();
    zoom: 1;
    border-bottom: 2px solid @bg_color;
    height: 72px;
    min-width: 880px;
    background-color: #fff;
    .new-label-left {
        float: left;
        h2 {
            padding-left: 10px;
            padding-top: 18px;
            margin-bottom: 9px;
            color: #424242;
            font-size: 16px;
            display: none;
        }
        .new-label-nav {
            padding-top: 31px;
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
            li {
                float: left;
                width: 110px;
                height: 40px;
                text-align: center;
                position: relative;
                border: 1px solid transparent;
                border-radius: @border-radius-base @border-radius-base 0 0;
                a {
                    color: @bg_color;
                    font-size: 16px;
                    &:hover {
                        color: #0051b6;
                    }
                }
                &.active {
                    background: @bg_color;
                    border-color: @bg_color;
                    a {
                        color: #fff;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        background: @bg_color;
                        transform: rotate(45deg);
                        z-index: 1;
                        width: 6px;
                        height: 6px;
                        left: 50px;
                        bottom: -5px;
                    }
                }
            }
        }
    } // .new-label-left
    .customer-info {
        float: right;
        margin-right: 10px;
        margin-top: 17px;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        img,
        .customer-text,
        button {
            float: left;
        }
        .customer-text {
            margin-left: 10px;
            p {
                color: #96a0b4;
                i {
                    font-style: normal;
                    color: #303642;
                }
            }
        }
        button {
            margin-left: 30px;
            margin-top: 4px;
        }
    } // .customer-info
} // new-label-header
