.ec_head_title{
    position: relative;
    height: 20px;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 10px;
    p{
        display: inline-block;
        height: 100%;
        width: auto;
        line-height: 20px;
        font-size: 18px;
        color: #303642;
    }
    i{
        position: absolute;
        width: 15px;
        height: 15px;
        left: 77px;
        top: 3px;
        background: url(//www.staticec.com/my/images/employee-icon.png) no-repeat -3px -52px;
    }
}