.ant-layout-left {
    background: #303642;
    text-align: center;
    /*float: left;*/
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    z-index: 10;
}

.ant-layout-right {
    margin-left: 200px;
    background: #edf2fa;
    .ant-layout-main {
        background: #edf2fa;
        padding-bottom: 0;
        /* overflow-y: auto; */ 
        min-width: 650px;
    }
    .ant-layout-container {
        /* padding: 2px 0;*/
        height: 100%;
        overflow: hidden;
        overflow-x: auto;
    }
    .ant-layout-content {
        height: 100%;
    }
}

.back_rule_leadimg {
    width: 100%;
    height: 100%;
}

.back_lead_modal .ant-modal {
    top: 122px;
    margin-right: 170px;
}

.back_lead_modal .back_lead_place {
    color: #2580e6;
    border-color: #2580e6;
    background-color: #fff;
    padding: 10px;
    border: solid 3px;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    right: -150px;
    top: 12px;
    &::before {
        content: " ";
        width: 0;
        height: 0;
        border-top: solid 10px transparent;
        border-left: solid 12px #fff;
        border-bottom: solid 10px transparent;
        position: absolute;
        left: -17px;
        top: 12px
    }
}
