@import "../../styles/variables";

.pc-minimize-entry-preview {
    text-align: center;
    width: 60px;
    height: 188px;
    cursor: pointer;

    span.text {
        color: white;
        font-size: 16px;
        margin-top: 6px;
        display: inline-block;
        writing-mode: tb-rl;
        writing-mode: tb-rl;
        writing-mode: vertical-lr;
        padding: 0 20px;

        &.zh {
            letter-spacing: 8px;
            margin-top: 14px;
        }

        > div {
            color: white;
            font-size: 16px;
        }
    }

    .theme-wrapper {
        height: 100%;
        border-radius: 6px;

        .service-icon {
            font-size: 49px;
            color: white;
            margin-top: 12px;
            margin-left: 1px;
            // position: relative;
            // left: 1px;
            // top: 12px;
        }
    }

    .theme-one {
        background-color: @cornflower-blue-color;
    }

    .theme-two {
        background-color: @theme-two-color;
    }

    .theme-three {
        background-color: @theme-three-color;
    }

    .theme-four {
        background-color: @theme-four-color;
    }

    .theme-five {
        background-color: @theme-five-color;
    }

    .default {
        background-color: @default;
    }

    .cyan-blue {
        background-color: @cyan-blue;
    }

    .dark-green {
        background-color: @dark-green;
    }

    .orange {
        background-color: @orange;
    }

    .jade-green {
        background-color: @jade-green;
    }

    .theme-custom {
        height: 100%;
    }
}
