@import '../../styles/mixins.less';

.login {
    margin-top: 76px;
    .size(100%,100%);
    background:  #f7f7f7;
    padding-top: 44px;
    text-align: center;
    h2 {
        color: #00b33d;
        margin-bottom: 43px;
        img {
            display: inline-block;
            margin-right: 8px;
        }
    }
    .login-box {
        padding-top: 60px;
        margin-bottom: 100px;
        .size(900px,745px);
        margin: 0 auto;
        background: #fff;
    }

}