/*reset*/
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: system, -apple-system, Helvetica, Microsoft YaHei, Arial, sans-serif;
  background: #fff;
  min-width: 1400px;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  display: inline-block;
  border: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
::selection {
  background: #f7b400;
  color: #fff;
}
/*common*/
.wMax {
  width: 100%;
}
.w1200 {
  width: 1200px;
  margin: 0 auto;
}
.banner {
  margin-bottom: 10px;
}
.banner img {
  max-width: 100%;
}
/*轮播*/
.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.banner .head-items {
  width: 60000px;
  overflow: hidden;
}
.banner .head-items li {
  float: left;
}
.banner .head-items li img {
  width: 100%;
  vertical-align: top;
}
.banner .head-span {
  height: 0;
  position: absolute;
  width: 100%;
  bottom: 31px;
  text-align: center;
  z-index: 10;
  opacity: 0.8;
}
.banner .head-dian {
  width: 30px;
  height: 3px;
  background: #a0a0a0;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}
.banner .head-click {
  background: #eee;
}
h3.part-title {
  text-align: center;
  font-weight: normal;
}
h3.part-title p {
  font-size: 30px;
  letter-spacing: 5.4px;
  margin-bottom: 10px;
}
h3.part-title span {
  display: block;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #f7b400;
  margin-bottom: 26px;
  text-transform: uppercase;
}
h3.part-line-title {
  text-align: center;
  font-weight: normal;
}
h3.part-line-title p {
  font-size: 30px;
  letter-spacing: 9px;
  color: #333;
}
h3.part-line-title span {
  font-size: 22px;
  letter-spacing: 7.2px;
  color: #666666;
}
h3.part-line-title i {
  display: block;
  width: 62px;
  height: 3px;
  background: #f7b400;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
}
header {
  width: 1200px;
  height: 80px;
  overflow: hidden;
  margin: 0 auto;
}
header .top {
  zoom: 1;
}
header .top:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
header h1 {
  float: left;
  margin-right: 86px;
  height: 80px;
  font-weight: normal;
}
header h1 img {
  width: 143px;
  padding-top: 10px;
  display: inline-block;
}
header h1 span {
  font-size: 16px;
  color: #f7b400;
  display: inline-block;
  padding-left: 22px;
  vertical-align: super;
}
header h1 span i {
  display: block;
}
header #nav {
  float: left;
  margin-top: 35px;
  zoom: 1;
}
header #nav:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
header #nav li {
  float: left;
  margin-right: 42px;
  cursor: pointer;
}
header #nav li:last-child {
  margin-right: 0;
}
header #nav li.active a {
  border-bottom: 3px solid #f7b400;
}
header #nav li a {
  font-size: 16px;
  letter-spacing: 3.8px;
  color: #f7b400;
  padding-bottom: 20px;
  border-bottom: 3px solid #fff;
  transition: border-color 0.3s;
}
header #nav li a:hover {
  border-color: #f7b400;
}
header .other {
  float: left;
  margin-top: 24px;
  margin-left: 53px;
  zoom: 1;
}
header .other:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
header .other li {
  float: left;
  margin-right: 15px;
}
header .other li img {
  margin-right: 10px;
}
header .other li span {
  line-height: 40px;
  font-size: 18px;
  color: #666;
  vertical-align: top;
}
footer {
  width: 100%;
  background: #353944;
  padding-top: 30px;
}
footer .footer-content {
  width: 1200px;
  margin: 0 auto;
}
footer .footer-content .footer-text {
  padding-left: 20px;
  color: #fbfbfb;
  padding-bottom: 20px;
  zoom: 1;
}
footer .footer-content .footer-text:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
footer .footer-content .footer-text .qr-items {
  float: left;
}
footer .footer-content .footer-text .qr-items li {
  float: left;
  width: 132px;
  text-align: center;
}
footer .footer-content .footer-text .qr-items li:first-child {
  margin-right: 98px;
}
footer .footer-content .footer-text .qr-items li span {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
}
footer .footer-content .footer-text .position {
  float: left;
  margin-left: 205px;
  margin-top: 83px;
}
footer .footer-content .footer-text .position p:nth-child(2) {
  margin-bottom: 0;
  margin-top: 20px;
}
footer .footer-content .footer-text .position p img {
  margin-right: 13px;
}
footer .footer-content .footer-text .position p span {
  font-size: 18px;
  letter-spacing: 4.3px;
  text-align: left;
  color: #fbfbfb;
  vertical-align: super;
}
.footer-copy {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 19px;
  border-top: 1px solid #505667;
  color: #fff;
  font-size: 12px;
}
.footer-copy p {
  line-height: 20px;
}
/*common*/
/*index 首页*/
.index .banner {
  margin-bottom: 20px;
}
.index .content .part-a {
  width: 100%;
  padding: 40px 0;
  background: #f6f6f6;
}
.index .content .part-a .part-a-box {
  width: 1200px;
  margin: 0 auto;
}
.index .content .part-a .part-a-box .intro {
  width: 950px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.65;
  letter-spacing: 0.8px;
  color: #666;
  text-align: center;
}
.index .content .part-a .part-a-box .intro p {
  margin-bottom: 20px;
}
.index .content .part-a .part-a-box ul {
  zoom: 1;
}
.index .content .part-a .part-a-box ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.index .content .part-a .part-a-box ul li {
  float: left;
  width: 33.33%;
  margin: 0 auto;
  text-align: center;
}
.index .content .part-a .part-a-box ul li img {
  margin-bottom: 25px;
}
.index .content .part-a .part-a-box ul li h4 {
  font-weight: normal;
}
.index .content .part-a .part-a-box ul li h4 p {
  font-size: 36px;
  line-height: 0.94;
  letter-spacing: 10.8px;
  color: #f7b400;
  margin-bottom: 20px;
}
.index .content .part-a .part-a-box ul li h4 span {
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 6px;
  color: #666666;
}
.index .content .part-b {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 95px;
}
.index .content .part-b .part-b-box {
  width: 1200px;
  margin: 0 auto;
}
.index .content .part-b ul {
  zoom: 1;
}
.index .content .part-b ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.index .content .part-b ul li {
  float: left;
  width: 600px;
  height: 289px;
  text-align: center;
  overflow: hidden;
}
.index .content .part-b ul li.img-text {
  background: #f9c333;
  position: relative;
}
.index .content .part-b ul li.img-text > a {
  width: 100%;
  height: 100%;
}
.index .content .part-b ul li.img-text div.img {
  width: 420px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -210px;
  margin-top: -75px;
}
.index .content .part-b ul li.img-text div.img img {
  margin-bottom: 20px;
}
.index .content .part-b ul li.img-text div.img p {
  font-size: 22px;
  letter-spacing: 5.4px;
  margin-bottom: 20px;
  transition: color .3s;
  color: #666;
}
.index .content .part-b ul li.img-text div.img span {
  font-size: 12px;
  letter-spacing: 3.6px;
  color: rgba(254, 254, 254, 0.9);
  transition: color .3s;
}
.index .content .part-b ul li.img-text div.bg {
  position: absolute;
  top: 0;
  height: 0;
  width: 600px;
  height: 289px;
  background: rgba(0, 0, 0, 0.2);
  display: none;
}
.index .content .part-b ul li.img-text:hover div.bg {
  display: block;
}
.index .content .part-b ul li > img {
  transition: .8s;
}
.index .content .part-b ul li > img:hover {
  transform: scale(1.03);
}
.index .content .part-c {
  width: 100%;
  background: #f6f6f6;
  padding-top: 52px;
  padding-bottom: 62px;
}
.index .content .part-c .part-c-box {
  width: 1200px;
  margin: 0 auto;
}
.index .content .part-c .part-c-box .new-items {
  background: #fff;
  height: 374px;
  padding-top: 41px;
  padding-bottom: 44px;
  zoom: 1;
}
.index .content .part-c .part-c-box .new-items:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.index .content .part-c .part-c-box .new-items img {
  float: left;
  margin-left: 20px;
}
.index .content .part-c .part-c-box .new-items ul {
  float: right;
  margin-left: 30px;
  width: 669px;
}
.index .content .part-c .part-c-box .new-items ul li {
  border-bottom: 1px solid #b5b5b5;
  margin-bottom: 15px;
  padding-bottom: 5px;
  margin-right: 14px;
  position: relative;
}
.index .content .part-c .part-c-box .new-items ul li > a {
  color: #666666;
  font-size: 16px;
  width: 75%;
  max-height: 50px;
  display: -webkit-box;
  display: -moz-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.index .content .part-c .part-c-box .new-items ul li > a:hover {
  color: #f7b400;
}
.index .content .part-c .part-c-box .new-items ul li span {
  position: absolute;
  bottom: 5px;
  right: 0;
  color: #666;
  font-size: 16px;
}
.index .content .part-d {
  width: 100%;
  background: #fff;
  padding-top: 40px;
  padding-bottom: 60px;
}
.index .content .part-d .part-d-box {
  width: 1200px;
  margin: 0 auto;
}
/*trust 房屋托管*/
.trust .content .trust-text {
  width: 100%;
  background: #fff;
  padding-top: 75px;
  padding-bottom: 30px;
}
.trust .content .trust-text .trust-text-box {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.trust .content .trust-text .trust-text-box .head {
  font-size: 30px;
  letter-spacing: 5.4px;
  color: #333333;
  margin-bottom: 20px;
}
.trust .content .trust-text .trust-text-box .bottom {
  width: 830px;
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 3.6px;
  color: #f7b400;
}
.trust .content .why {
  width: 100%;
  background: #f6f6f6;
  padding-top: 40px;
}
.trust .content .why ul.why-box {
  width: 1200px;
  margin: 0 auto;
  zoom: 1;
}
.trust .content .why ul.why-box:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.trust .content .why ul.why-box:first-child {
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.trust .content .why ul.why-box li {
  float: left;
}
.trust .content .why ul.why-box li:last-child {
  float: right;
  width: 500px;
}
.trust .content .why ul.why-box li img {
  margin-right: 77px;
  float: left;
}
.trust .content .why ul.why-box li .text {
  float: left;
  margin-top: 36px;
  font-size: 20px;
  letter-spacing: 3.6px;
  color: #666666;
  line-height: 36px;
}
.trust .content .why ul.why-box li .text i {
  display: block;
}
.trust .content .why ul.why-box li .getme {
  float: left;
  margin-top: 47px;
}
.trust .content .why ul.why-box li .getme p {
  width: 180px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 3.6px;
  color: #f7b400;
}
.trust .content .reason {
  width: 100%;
}
.trust .content .reason .reason-box {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.trust .content .reason .reason-box .reason-img {
  margin-top: 60px;
  margin-bottom: 80px;
}
.trust .content .reason .reason-box ul.w25p,
.trust .content .reason .reason-box ul.w30p {
  text-align: center;
  zoom: 1;
}
.trust .content .reason .reason-box ul.w25p:after,
.trust .content .reason .reason-box ul.w30p:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.trust .content .reason .reason-box ul.w25p li,
.trust .content .reason .reason-box ul.w30p li {
  width: 25%;
  border-right: 1px solid #d2d0d0;
  height: 270px;
  float: left;
}
.trust .content .reason .reason-box ul.w25p li:last-child,
.trust .content .reason .reason-box ul.w30p li:last-child {
  border-right: none;
}
.trust .content .reason .reason-box ul.w25p li:hover img,
.trust .content .reason .reason-box ul.w30p li:hover img {
  transform: rotate(360deg);
}
.trust .content .reason .reason-box ul.w25p li img,
.trust .content .reason .reason-box ul.w30p li img {
  transition: transform .5s;
}
.trust .content .reason .reason-box ul.w25p li h3,
.trust .content .reason .reason-box ul.w30p li h3 {
  font-size: 20px;
  letter-spacing: 3.6px;
  color: #f7b400;
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: normal;
}
.trust .content .reason .reason-box ul.w25p li p,
.trust .content .reason .reason-box ul.w30p li p {
  font-size: 13px;
  letter-spacing: 2.3px;
  color: #666666;
}
.trust .content .reason .reason-box ul.w25p li p i,
.trust .content .reason .reason-box ul.w30p li p i {
  display: block;
}
.trust .content .reason .reason-box ul.w30p {
  margin-top: 115px;
  padding-bottom: 70px;
}
.trust .content .reason .reason-box ul.w30p li {
  width: 33.3%;
}
.trust .content .step {
  width: 100%;
  background: #f6f6f6;
  padding-top: 100px;
  padding-bottom: 140px;
}
.trust .content .step .step-box {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.trust .content .step .step-box h3 {
  font-size: 30px;
  letter-spacing: 5.4px;
  color: #333333;
  font-weight: normal;
  margin-bottom: 40px;
}
.trust .content .step .step-box p {
  font-size: 20px;
  letter-spacing: 3.6px;
  color: #666666;
}
/*apartment 公寓*/
.content .product {
  width: 100%;
  background: #fff;
  padding-top: 40px;
  padding-bottom: 70px;
}
.content .product .product-box {
  width: 1200px;
  margin: 0 auto;
}
.content .product .product-box ul {
  zoom: 1;
}
.content .product .product-box ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.content .product .product-box ul li {
  width: 50%;
  float: left;
  margin-bottom: 40px;
}
.content .service {
  width: 100%;
  background: #fff;
  padding-bottom: 50px;
}
.content .service .service-box {
  width: 1200px;
  margin: 0 auto;
}
.content .service .service-box ul {
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
  padding-top: 54px;
  zoom: 1;
}
.content .service .service-box ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.content .service .service-box ul li {
  width: 25%;
  float: left;
  text-align: center;
}
.content .service .service-box ul li img {
  margin-bottom: 25px;
}
.content .service .service-box ul li p {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 6px;
  color: #333333;
}
.content .service .service-box ul li span {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 5.4px;
  color: #666666;
}
.content .dream {
  width: 100%;
  background: #fff;
  padding-top: 60px;
  background: url(img/dream.png) no-repeat;
  height: 377px;
}
.content .dream .dream-box {
  width: 1200px;
  margin: 0 auto;
}
.content .dream .dream-box .part-line-title p {
  font-size: 42px;
  letter-spacing: 12.6px;
  color: #666666;
}
.content .dream .dream-box .part-line-title i {
  background: #fff;
  margin-top: 27px;
  margin-bottom: 38px;
}
.content .dream .dream-box .part-line-title span {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.58;
  letter-spacing: 7.2px;
  text-align: center;
  color: #ffffff;
}
.content .friend {
  width: 100%;
  background: #fff;
  padding-top: 69px;
  padding-bottom: 211px;
}
.content .friend .friend-box {
  width: 1200px;
  margin: 0 auto;
}
.content .friend .friend-box ul {
  zoom: 1;
  padding-top: 43px;
}
.content .friend .friend-box ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.content .friend .friend-box ul li {
  float: left;
  width: 253px;
  text-align: center;
  margin-right: 57px;
}
.content .friend .friend-box ul li:last-child {
  margin-right: 0;
}
.content .friend .friend-box ul li img {
  margin-bottom: 20px;
}
.content .friend .friend-box ul li span {
  display: block;
  font-size: 24px;
  color: #333333;
  width: 238px;
  text-align: left;
  margin-bottom: 20px;
}
.content .friend .friend-box ul li p {
  font-size: 14px;
  text-align: left;
  color: #666666;
  width: 238px;
}
/*retirment_apartment*/
.content .re-intro {
  width: 100%;
  padding-top: 52px;
  background: #f6f6f6;
  padding-bottom: 60px;
}
.content .re-intro .re-intro-box {
  width: 1200px;
  margin: 0 auto;
}
.content .re-intro .re-intro-box p.re-text {
  margin: 0 auto;
  width: 1060px;
  font-size: 21px;
  letter-spacing: 3.8px;
  text-align: center;
  color: #666666;
  padding-bottom: 90px;
  line-height: 36px;
}
.content .re-intro .re-intro-box .re-items {
  zoom: 1;
}
.content .re-intro .re-intro-box .re-items:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.content .re-intro .re-intro-box .re-items img {
  float: left;
}
.content .re-intro .re-intro-box .re-items .re-right {
  width: 566px;
  float: left;
  margin-left: 38px;
}
.content .re-intro .re-intro-box .re-items .re-right h4 {
  width: 96%;
  font-size: 30px;
  letter-spacing: 5.4px;
  color: #f7b400;
  text-align: center;
  border: 1px solid #f7b400;
  font-weight: normal;
  margin-bottom: 99px;
  height: 50px;
  line-height: 50px;
}
.content .re-intro .re-intro-box .re-items .re-right p {
  font-size: 20px;
  letter-spacing: 3.8px;
  color: #666666;
  line-height: 36px;
}
.content .re-why {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 310px;
}
.content .re-why .re-why-box {
  width: 1200px;
  margin: 0 auto;
}
.content .re-why .re-why-box ul {
  zoom: 1;
}
.content .re-why .re-why-box ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.content .re-why .re-why-box ul li {
  width: 33.3%;
  float: left;
  text-align: center;
}
.content .re-why .re-why-box ul li p {
  font-size: 36px;
  letter-spacing: 6.5px;
  color: #666666;
  margin-bottom: 20px;
  margin-top: 18px;
}
.content .re-why .re-why-box ul li cite {
  font-style: normal;
  display: inline-block;
  background: #f7b400;
  width: 327px;
  line-height: 50px;
  height: 50px;
  font-size: 30px;
  letter-spacing: 5.4px;
  color: #ffffff;
}
/*about*/
.content .aboutme {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 78px;
  border-top: 1px solid #ebebeb;
}
.content .aboutme .aboutme-box {
  height: 820px;
  width: 1200px;
  margin: 0 auto;
}
.content .aboutme .aboutme-box .left {
  width: 243px;
  float: left;
  height: 100%;
  border: 1px solid #cccccc;
}
.content .aboutme .aboutme-box .left h4 {
  font-size: 28px;
  line-height: 1.13;
  letter-spacing: 6px;
  color: #666666;
  position: relative;
  font-weight: normal;
  height: 64px;
  cursor: pointer;
  border-bottom: 1px solid #cccccc;
  padding: 15px 10px;
}
.content .aboutme .aboutme-box .left h4 i {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  background: url(img/arrow.png) no-repeat 5px 10px;
  transition: transform .5s;
}
.content .aboutme .aboutme-box .left h4 i.rotate {
  transform: rotate(180deg);
}
.content .aboutme .aboutme-box .left ul li {
  padding: 15px 15px 0 10px;
}
.content .aboutme .aboutme-box .left ul li.active a {
  color: #f7b400;
}
.content .aboutme .aboutme-box .left ul li a {
  font-size: 24px;
  line-height: 1.42;
  letter-spacing: 4px;
  text-align: left;
  color: #666666;
}
.content .aboutme .aboutme-box .left ul li a:hover {
  color: #f7b400;
}
.content .aboutme .aboutme-box .right {
  margin-left: 20px;
  width: 930px;
  float: left;
  height: 100%;
  border: 1px solid #ccc;
}
.content .aboutme .aboutme-box .right .right-intro {
  padding: 20px;
}
.content .aboutme .aboutme-box .right .right-intro ul li h4 {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.13;
  letter-spacing: 5px;
  color: #f7b400;
  margin-bottom: 20px;
}
.content .aboutme .aboutme-box .right .right-intro ul li p {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 3px;
  text-align: left;
  color: #666666;
  margin-bottom: 30px;
}
.content .aboutme .aboutme-box .right .right-intro ul li p i {
  display: inline-block;
  width: 52px;
}
.content .aboutme .aboutme-box .right .right-map {
  padding: 20px;
}
.content .aboutme .aboutme-box .right .right-map ul {
  padding-top: 108px;
  zoom: 1;
}
.content .aboutme .aboutme-box .right .right-map ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.content .aboutme .aboutme-box .right .right-map ul li {
  width: 33.3%;
  float: left;
  text-align: center;
  border-right: 1px solid #ccc;
}
.content .aboutme .aboutme-box .right .right-map ul li:last-child {
  border: none;
}
.content .aboutme .aboutme-box .right .right-map ul li img {
  margin-bottom: 20px;
}
.content .aboutme .aboutme-box .right .right-map ul li span {
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: 4px;
  color: #666666;
  display: block;
  margin-bottom: 33px;
}
.content .aboutme .aboutme-box .right .right-map ul li p {
  font-size: 16px;
  line-height: 1.55;
  color: #666666;
}
.content .aboutme .aboutme-box .right .right-map ul li p i {
  display: block;
}
.content .aboutme .aboutme-box .right .right-map ul li p a {
  color: #f7b400;
}
.content .aboutme .aboutme-box .right .right-map ul li p a:hover {
  color: #dcb039;
}
