@label-width:80px;

.kf_form_item{
    font-size: 14px;
    margin-bottom: 20px;
    overflow: hidden;
    .kf_form_label{
        float: left;
        width: @label-width;
    }
    .kf_form_content{
        margin-left:@label-width;
    }
}