.pc-entry-setting, .mobile-entry-setting {
    .entry-style {
        > .ant-form-item-label {
            padding-bottom: 2px;
            border-bottom: 1px solid #d9d9d9;
        }
    }

    .custom-radio-group {
        .ant-radio-wrapper {
            margin: 0 20px 25px;

            > span:nth-child(1) {
                display: none;
            }

            > span:nth-child(2) {
                display: block;
            }
        }
    }

    .background-upload {
        padding: 3px;

        .upload-point {
            color: #229be4;
            a {
                color: #229be4;
            }
        }

        .img {
            float: left;
            width: 60px;
            height: 60px;

            img {
                width: 100%;
            }
        }

        .text {
            float: left;
            margin-left: 7px;
        }

        span {
            display: block;
        }
    }

    .custom-list-theme {
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 12px;

        .upload-wrapper {
            margin-bottom: 24px;
        }

        .list-background {
            float: left;
        }

        .minimize-background {
            float: right;
        }
    }

    .position-set {
        .position-preview {
            background-color: #f1f5f6;
            width: 90px;
            height: 134px;
            float: left;
            position: relative;


            .square {
                width: 20px;
                height: 20px;
                position: absolute;
                background-color: #229be5;
            }
        }

        .set-side {
            float: left;
            margin-left: 7px;
        }
    }

    .entry-button-styles {
        .ant-radio-wrapper {
            margin: 0 15px 25px;
            vertical-align: bottom;
        }

        .ant-radio-wrapper-checked {
            .style-btn {
                border-color: #40a5ed;
            }
        }

        .style-btn {
            border: 1px solid #7b7b7b;

            + div {
                margin-top: 5px;
            }
        }

        .circle-btn {
            width: 25px;
            height: 25px;
            border-radius: 25px;
        }

        .square-btn {
            width: 25px;
            height: 25px;
        }

        .h-rectangle {
            width: 40px;
            height: 15px;
            position: relative;
            top: -9px;
        }

        .v-rectangle {
            width: 15px;
            height: 40px;
            margin: 0 auto;
        }
    }
}
