.cs-access-setting {
  .preview {
    &.mobile-preview {
      height: 630px;
      border: none;
      background: url(../img/mobile-preview.png) no-repeat;
      background-size: 100%;

      .head {
        padding-top: 35px;
      }
    }

  }

}