@cornflower-blue-color: #2580e6;
@ocean-green-color: #48b274;
@fire-bush-color: #e69e23;
@olive-drab-color: #69ad2d;
@amethyst-color: #9264cd;
@havelock-blue-color: #588ad4;
@carnation-color: #f26c63;
@ship-cove: #7889b9;

@theme-two-color: #707a84;
@theme-three-color: #009dea;
@theme-four-color: #5c534c;
@theme-five-color: #f03c19;

@default: #2580e6;
@cyan-blue: #7889b7;
@dark-green: #46b274;
@orange: #e59e22;
@jade-green: #72ad2e;
@serviceAColor: #4c4c4c;
